/* ---------- ABOUT ME ---------- */
.about
	font-family: 'Muli'
	margin-top: 77px
	position: relative
	background: url('../css/images/header-bg.png') no-repeat
	background-size: cover
	padding: 20px 0
	color: #fff
	min-height: 400px

	display: -ms-flexbox
	-ms-flex-pack: center
	-ms-flex-align: center

	display: -moz-box
	-moz-box-pack: center
	-moz-box-align: center

	display: -webkit-box
	-webkit-box-pack: center
	-webkit-box-align: center

	display: box
	box-pack: center
	box-align: center

	#about-me
		width: 31%
		text-align: center

		h2 
			color: #fff
			text-align: center
			font-family: 'Montserrat'
			text-transform: uppercase
			width: 100%
			/*padding-top: 20px*/
			margin: 0
			text-shadow: 0 2px 1px #333
			font-size: 24px

		p
			text-shadow: 0 2px 1px #333	

		.break
			margin-top: 40px

		img
			width: 50px
			height: 50px