/* ---------- ABOUT ME ---------- */
.about
	font-family: 'Muli'
	margin-top: 77px
	position: relative
	background: #777
	padding: 20px 0
	color: #fff

	h2 
		/*background: #e74c3c*/
		color: #fff
		text-align: center
		font-family: 'Montserrat'
		text-transform: uppercase
		width: 100%
		padding-top: 20px
		margin: 0
		/*border-bottom: 7px solid #c0392b*/
		text-shadow: 0 2px 1px #333
		font-size: 24px

	#about-me
		width: 50%
		margin: 0 auto
		text-align: center