/* ---------- ANIMATIONS ---------- */
@-webkit-keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1

.fadeIn
	animation-name: fadeIn
	-webkit-animation-name: fadeIn

	animation-duration: .5s
	-webkit-animation-duration: .5s

	animation-timing-function: ease-in-out
	-webkit-animation-timing-function: ease-in-out	

	visibility: visible !important


@-webkit-keyframes dropIn
	0%
		opacity: 0
		-webkit-transform: translateY(-400px)
	100%
		opacity: 1
		-webkit-transform: translateY(0px)

.dropIn
	animation-name: dropIn
	-webkit-animation-name: dropIn

	animation-duration: 1s
	-webkit-animation-duration: 1s

	animation-timing-function: ease-in-out
	-webkit-animation-timing-function: ease-in-out	

	visibility: visible !important