.contact
  background: #e74c3c
  color: #fff

  p
    width: 400px
    margin-left: auto
    margin-right: auto

  h4:first-of-type
    margin-top: 40px

  .email
    color: #fff
    text-decoration: none


  .icon 
    width: 50px
    height: 50px
    background: rgba(255, 255, 255, 0.8)
    border-radius: 50%
    -ms-border-radius: 50%
    -mox-border-radius: 50%
    -webkit-border-radius: 50%
    display: -ms-flexbox
    -ms-flex-pack: center
    -ms-flex-align: center
    display: -moz-box
    -moz-box-pack: center
    -moz-box-align: center
    display: -webkit-box
    -webkit-box-pack: center
    -webkit-box-align: center
    display: box
    box-pack: center
    box-align: center
    transition: all .15s linear
    -moz-transition: all .15s linear
    -webkit-transition: all .15s linear

    i
      color: #e74c3c

    &:hover
      background: rgba(255, 255, 255, 1)
      transition: all .15s linear
      -moz-transition: all .15s linear
      -webkit-transition: all .15s linear

  .social
    margin-top: 40px
    margin-bottom: 80px

    a
      color: #e74c3c
      display: inline-block
      margin: 0 5px

  .arrow-up
    margin: 0 auto 40px
    background: rgba(255, 255, 255, 0.5)

  .copyright
    font-size: 14px