/* ---------- FOOTER ---------- */
.footer
	width: 100%
	background: #555
	color: #fff
	padding: 10px 0
	border-top: 7px solid #999

	.container
		width: 60%
		margin: 0 auto
		color: #fff
		text-align: center

	.twitter

		#twitter_update_list
			li
				list-style-type: none

			span
				color: #fff
				background: #555

				a
					display: inline
					color: blue

				a:hover
					text-decoration: underline
					color: red