/* ---------- INTRO ---------- */
.intro
	padding: 20px 0
	position: fixed
	z-index: 5
	width: 100%
	top: 0
	background: #333

	.container
		width: 60%
		margin: 0 auto
		color: #fff
		text-align: center
		
		h1
			font-weight: 700
			margin-bottom: 0
			margin-top: 0
			font-family: 'Montserrat'
			text-transform: uppercase
			text-shadow: 0 2px 1px #000
			text-decoration: none
			float: left
			font-size: 30px
			color: #fff

		.bio
			font-weight: 300
			font-size: 22px
			color: #fff
			font-family: 'Muli'
			text-transform: none
			text-shadow: none
			padding: 0 0 9px 0

		.social
			float: right

			ul
				list-style-type: none
				margin: 0

				li
					display: inline-block

					i
						font-size: 24px
						line-height: 37px
						margin: 0 5px
						color: #fff
						text-decoration: none
						text-shadow: 0 2px 1px #000
						transition: color .15s ease-in-out
						-moz-transition: color .15s ease-in-out
						-webkit-transition: color .15s ease-in-out

					i.icon-facebook:hover
						color: #3B5998

					i.icon-twitter:hover
						color: #4099FF

					i.icon-instagram:hover
						color: #517fa4

					i.icon-pinterest:hover
						color: #cb2027

					i.icon-tumblr:hover
						color: #32506d

					i.icon-linkedin:hover
						color: #007bb6

					i.icon-envelope-alt:hover
						color: #dd4b39

				/*
				li:nth-of-type(1)
					animation-delay: .6s
					-webkit-animation-delay: .6s

				li:nth-of-type(2)
					animation-delay: .5s
					-webkit-animation-delay: .5s

				li:nth-of-type(3)
					animation-delay: .4s
					-webkit-animation-delay: .4s

				li:nth-of-type(4)
					animation-delay: .3s
					-webkit-animation-delay: .3s

				li:nth-of-type(5)
					animation-delay: .2s
					-webkit-animation-delay: .2s

				li:nth-of-type(6)
					animation-delay: .1s
					-webkit-animation-delay: .1s

				li:nth-of-type(7)
					animation-delay: 0s
					-webkit-animation-delay: 0s
				*