.intro
  background: url('../images/header-bg.png') 50% 50% no-repeat fixed
  background-size: cover
  height: 600px
  width: 100%
  position: relative

  display: -ms-flexbox
  -ms-flex-pack: center
  -ms-flex-align: center

  display: -moz-box
  -moz-box-pack: center
  -moz-box-align: center

  display: -webkit-box
  -webkit-box-pack: center
  -webkit-box-align: center

  display: box
  box-pack: center
  box-align: center

  .intro-content
    width: 470px
    text-shadow: 0 0 60px #000
    color: #fff
    text-align: center

    a
      color: #fff
      text-decoration: none
    
    a:hover
      text-decoration: underline
      transition: text-decoration .15s ease-in-out
      -moz-transition: text-decoration .15s ease-in-out
      -webkit-transition: text-decoration .15s ease-in-out

    .arrow-down
      color: rgba(255, 255, 255, 0.6)
      display: inline-block
      margin: 10px 5px 0

    .arrow-down:hover
      color: rgba(255, 255, 255, 0.8)
      transition: color .15s ease-in-out
      -moz-transition: color .15s ease-in-out
      -webkit-transition: color .15s ease-in-out


