.intro
  background: url('../images/header-bg.png') 50% 50% no-repeat fixed
  background-size: cover
  height: 600px
  width: 100%
  position: relative

  display: -ms-flexbox
  -ms-flex-pack: center
  -ms-flex-align: center

  display: -moz-box
  -moz-box-pack: center
  -moz-box-align: center

  display: -webkit-box
  -webkit-box-pack: center
  -webkit-box-align: center

  display: box
  box-pack: center
  box-align: center

  .intro-content
    width: 470px
    text-shadow: 0 0 60px #000
    color: #fff
    text-align: center

    a
      color: #fff
      text-decoration: none
    
    a:hover
      text-decoration: underline
      transition: text-decoration .15s ease-in-out
      -moz-transition: text-decoration .15s ease-in-out
      -webkit-transition: text-decoration .15s ease-in-out

    .icon 
      width: 50px
      height: 50px
      background: rgba(255, 255, 255, 0.5)
      border-radius: 50%
      -ms-border-radius: 50%
      -mox-border-radius: 50%
      -webkit-border-radius: 50%
      display: -ms-flexbox
      -ms-flex-pack: center
      -ms-flex-align: center
      display: -moz-box
      -moz-box-pack: center
      -moz-box-align: center
      display: -webkit-box
      -webkit-box-pack: center
      -webkit-box-align: center
      display: box
      box-pack: center
      box-align: center
      margin: 0 auto

      i
        color: #555

      &:hover
        background: rgba(255, 255, 255, 1)
        transition: background .15s ease-in-out
        -moz-transition: background .15s ease-in-out
        -webkit-transition: background .15s ease-in-out


