/* ---------- MEDIA QUERIES ---------- */
@media all and (max-width: 699px) and (min-width: 320px)
	.intro
		h1
			float: none

		.social
			float: none

			ul
				padding: none

	.projects
		.project
			.content
				padding: 0 113px