/* Tablet (landscape) */
@media only screen and (max-width: 1024px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 100%

    .recent-work
      .projects-container
        .project
          .content
            width: 1000px
            
            .text-container
              width: 600px

            .img-container
              width: 400px
              background-size: 400px


@media only screen and (max-width: 930px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 70%


/* Tablet (portrait) */
@media only screen and (max-width: 768px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 70%

    .recent-work
      .projects-container
        .project
          .content
            width: 750px
            
            .text-container
              width: 400px

              ul
                li
                  margin: 5px 0 !important

            .img-container
              width: 350px
              background-size: 350px


@media only screen and (max-width: 674px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 60%


/* Mobile */
@media only screen and (max-width: 480px)
  html, body
    width: auto

    h1
      font-size: 3em

    h2, h3
      font-size: 1.3em

    h4
      font-size: 1.1em

    p
      font-size: 0.9em

    .intro
      height: 300px

      .intro-content
        width: 80%

        .icon
          display: none

    .what-i-do
      .skills-container
        width: 100%

        .skill
          margin: 0 40px 20px 40px

    .recent-work
      .projects-container
        .project
          height: 688px
          display: block

          .content
            width: 100%
            height: auto
            
            .text-container
              width: 100%
              display: block
              height: 400px
              float: none !important

              .text
                text-align: center

                a
                  margin: 30px auto 0

            .img-container
              width: 320px
              height: 288px
              display: block
              background-size: 320px
              float: none !important
              margin: 0 auto

          &.ken-khoo, &.cuts-chart, &.xolair, &.shoppernova, &.field-intouch, &.micomms, &.gcg, &.momo
            .content
              .img-container
                background-size: 320px !important

    .contact
      p
        width: 80%

      .social
        width: 50%
        margin-left: auto
        margin-right: auto

        a:nth-of-type(5), a:nth-of-type(6), a:nth-of-type(6)
          margin-top: 10px

@media only screen and (max-width: 480px)
  body
    .contact
      .social
        width: 70%