/* ---------- MEDIA QUERIES ---------- */
@media only screen and (max-device-width: 480px)
	.intro
		h1
			float: none

		.social
			float: none

			ul
				padding: none

	.projects
		.project
			.content
				padding: 0 113px