@media only screen and (max-width: 1200px)
  html, body
    width: auto

    .recent-work
      .projects-container
        width: 1000px !important

        .project
          height: 360px !important

          .text-container
            width: 600px !important
            height: 360px !important

          .img-container
            width: 400px !important
            height: 360px !important


/* Tablet (landscape) */
@media only screen and (max-width: 1024px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 100%

        .skill
          img
            opacity: 1

    .recent-work
      .projects-container
        .project
          .img-container
            .bx-wrapper
              .bx-prev, .bx-next
                -webkit-transform: none !important
                display: none


@media only screen and (max-width: 930px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 70%

    .recent-work
      .projects-container
        width: 900px !important

        .project
          height: 360px !important

          .text-container
            width: 500px !important
            height: 360px !important

            ul
              li
                margin: 5px !important

          .img-container
            width: 400px !important
            height: 360px !important


/* Tablet (portrait) */
@media only screen and (max-width: 768px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 70%

    .recent-work
      .projects-container
        width: 100% !important

        .project
          height: auto !important

          .text-container
            width: 100% !important
            display: block !important
            float: none !important
            height: auto !important

            .text
              top: 0 !important
              left: 0 !important
              transform: translate3d(0, 0, 0) !important
              -ms-transform: translate3d(0, 0, 0) !important
              -moz-transform: translate3d(0, 0, 0) !important
              -webkit-transform: translate3d(0, 0, 0) !important
              text-align: center !important
              width: 90% !important
              margin: 30px auto 0

              a
                margin: 0 auto 10px !important

          .img-container
            width: 100% !important
            display: block !important
            float: none !important

            img
              width: auto !important
              height: 360px
              margin: 0 auto


@media only screen and (max-width: 674px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 60%


@media only screen and (max-width: 640px)
  .recent-work
    .projects-container
      .project
        .img-container
          width: 100% !important
          display: block !important
          float: none !important
          height: 288px !important

          img
            width: 320px !important
            height: auto !important
            margin: 0 auto


/* Mobile */
@media only screen and (max-width: 480px)
  html, body
    width: auto

    h1
      font-size: 3em

    h2, h3
      font-size: 1.3em

    h4
      font-size: 1.1em

    p
      font-size: 0.9em

    .intro
      height: 300px

      .intro-content
        width: 80%

        .icon
          display: none

    .what-i-do
      .skills-container
        width: 100%

        .skill
          margin: 0 40px 20px 40px

    .contact
      p
        width: 80%

      .social
        width: 50%
        margin-left: auto
        margin-right: auto

        a:nth-of-type(5), a:nth-of-type(6), a:nth-of-type(6)
          margin-top: 10px


@media only screen and (max-width: 480px)
  body
    .contact
      .social
        width: 70%


@media only screen and (max-width: 320px)
  .recent-work
    .projects-container
      width: 100% !important

      .project
        height: auto !important

        .text-container
          width: 100% !important
          display: block !important
          float: none !important
          height: auto !important

          .text
            top: 0 !important
            left: 0 !important
            transform: translate3d(0, 0, 0) !important
            -ms-transform: translate3d(0, 0, 0) !important
            -moz-transform: translate3d(0, 0, 0) !important
            -webkit-transform: translate3d(0, 0, 0) !important
            text-align: center !important
            width: 90% !important
            margin: 30px auto 0

            a
              margin: 0 auto 10px !important

        .img-container
          width: 100% !important
          display: block !important
          float: none !important
          height: 288px !important

          img
            width: 320px !important
            height: auto !important
            margin: 0 auto