/* ---------- MEDIA QUERIES ---------- */
@media only screen and (max-device-width: 1000px)
	.projects
		.project
			.content
				width: 80%


@media only screen and (max-device-width: 400px)
	html, body, section
		width: 100%

	.intro
		position: relative
		min-height: 60px

		.container
			width: 100%
			margin: 0

			a
				text-decoration: none

			h1
				float: none !important
				font-size: 2em
				margin-bottom: 15px

			.social
				float: none !important

				ul
					padding: 0

					li
						i
							font-size: 2em
							margin: 0 10px

	.about
		margin-top: 0
		min-height: 250px
		background-size: cover
		text-shadow: 0 1px 1px #333

		#about-me
			width: 90%

	.projects
		.project
			.content
				width: 100%

	.project-header
		margin-top: 0 !important
		min-height: 120px !important
		background-size: cover

	.project-page
		padding: 5px !important

		#content
			width: 90% !important