@media only screen and (max-width: 1200px)
  html, body
    width: auto

    .recent-work
      .projects-container
        width: 900px

/* Tablet (landscape) */
@media only screen and (max-width: 1024px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 100%

    .recent-work
      .projects-container
        width: 90%


@media only screen and (max-width: 930px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 70%

    .recent-work
      .projects-container
        width: 90%


/* Tablet (portrait) */
@media only screen and (max-width: 768px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 70%

    .recent-work
      .projects-container
        width: 90%


@media only screen and (max-width: 674px)
  html, body
    width: auto

    .what-i-do
      .skills-container
        width: 60%

    .recent-work
      .projects-container
        width: 90%


/* Mobile */
@media only screen and (max-width: 480px)
  html, body
    width: auto

    h1
      font-size: 3em

    h2, h3
      font-size: 1.3em

    h4
      font-size: 1.1em

    p
      font-size: 0.9em

    .intro
      height: 300px

      .intro-content
        width: 80%

        .icon
          display: none

    .what-i-do
      .skills-container
        width: 100%

        .skill
          margin: 0 40px 20px 40px

    .recent-work
      .projects-container
        width: 100%

    .contact
      p
        width: 80%

      .social
        width: 50%
        margin-left: auto
        margin-right: auto

        a:nth-of-type(5), a:nth-of-type(6), a:nth-of-type(6)
          margin-top: 10px

@media only screen and (max-width: 480px)
  body
    .contact
      .social
        width: 70%