/* ---------- PROJECTS ---------- */
.projects
	font-family: 'Muli'
	background: #f5f7f7
	position: relative

	.header
		background: #fff

		h2
			text-align: center
			font-family: 'Montserrat'
			text-transform: uppercase
			padding: 15px 0
			color: #3498db
			margin: 0 auto
			font-size: 24px	

	.project
		clear: both
		padding: 20px 0 30px 0

		/* Internet Explorer 10 */
		display:-ms-flexbox
		-ms-flex-pack:center
		-ms-flex-align:center

		/* Firefox */
		display:-moz-box
		-moz-box-pack:center
		-moz-box-align:center

		/* Safari, Opera, and Chrome */
		display:-webkit-box
		-webkit-box-pack:center
		-webkit-box-align:center

		/* W3C */
		display:box
		box-pack:center
		box-align:center

		.content
			width: 50%
			margin: 0 auto

		.text
			width: 100%
			text-align: center
			/*padding: 30px 0*/
			display: block

			h3
				text-align: center
				font-family: 'Montserrat'
				text-transform: uppercase
				text-shadow: 0 1px 3px #fff
				padding: 15px 0 0 0
				color: #f1c40f
				margin: 0 auto
				font-size: 24px

			.buttons
				text-align: center

				a
					padding: 15px 40px 12px 40px
					background: #e74c3c
					border-bottom: 5px solid #c0392b
					border-radius: 5px
					color: #fff
					text-shadow: 0 2px 1px #c0392b
					text-decoration: none
					text-transform: uppercase
					font-family: 'Montserrat'
					margin: 5px 10px 20px 10px
					display: inline-block

				a:hover
					background: #f75545
					transition: background .15s ease-in-out
					-moz-transition: background .15s ease-in-out
					-webkit-transition: background .15s ease-in-out

		.image
			width: 100%
			text-align: center
			display: block

			img
				height: 300px
				/*box-shadow: 0 1px 3px #fff*/


	#momo, #multitouch
		background: #ecf0f1

		/*.image
			float: left*/

	#transport
		h3
			width: 400px