/* ---------- PROJECTS ---------- */
.projects
	font-family: 'Muli'
	background: #f5f7f7
	position: relative

	.header
		background: #fff

		h2
			text-align: center
			font-family: 'Montserrat'
			text-transform: uppercase
			padding: 15px 0
			color: #3498db
			margin: 0 auto
			font-size: 24px	

	.project
		clear: both
		min-height: 365px

		.content
			padding: 0 220px

		.text
			width: 480px
			text-align: center
			padding: 30px 0
			display: inline-block

			h3
				text-align: center
				font-family: 'Montserrat'
				text-transform: uppercase
				text-shadow: 0 1px 3px #fff
				padding: 15px 0 0 0
				color: #f1c40f
				margin: 0 auto
				font-size: 24px	

			p
				text-align: justify

			.buttons
				text-align: center
				margin-top: 35px

				a
					padding: 15px 40px 12px 40px
					background: #e74c3c
					border-bottom: 5px solid #c0392b
					border-radius: 5px
					color: #fff
					text-shadow: 0 2px 1px #c0392b
					text-decoration: none
					text-transform: uppercase
					font-family: 'Montserrat'
					margin-left: 10px
					margin-right: 10px

		.image
			width: 480px
			text-align: center
			display: inline-block

			&:nth-child(odd)
				float: left

			&:nth-child(even)
				float: right

			img
				height: 300px
				border-radius: 10px
				margin: 30px
				box-shadow: 0 1px 3px #fff


	#momo, #multitouch
		background: #ecf0f1

		.image
			float: left

	#transport
		h3
			width: 400px