/* ---------- PROJECTS ---------- */
.projects
	font-family: 'Muli'
	background: #ecf0f1
	position: relative

	h2 
		background: #f1c40f
		color: #fff
		text-align: center
		text-transform: uppercase
		width: 100%
		padding: 20px 0 13px 0
		margin: 0
		border-bottom: 7px solid #f39c12

	.project
		padding: 2em

	.heading
		color: #333
		border: none
		margin-top: 0
		border-radius: 0
		

	.content
		color: #333
		border: none
		border-radius: 0

/*	#little-boxes

	#momo

	#transport

	#multitouch

	#unicef

	#urbanplay*/