$projects-container-width: 1200px
$project-height: 450px
$img-container-width: 500px


.recent-work
  background: #f1f1f1
  color: #555
  padding-bottom: 0

  .recent-work-content
    display: block

    .projects-container
      width: $projects-container-width
      margin: 0 auto

      .project
        display: block
        width: 100%
        border-bottom: 1px solid #fff
        clear: both
        height: $project-height

        .text-container
          display: block
          width: $projects-container-width - $img-container-width
          height: $project-height

          .text
            width: 60%
            text-align: left
            position: relative
            top: 50%
            left: 50%
            transform: translate3d(-50%, -50%, 0)
            -ms-transform: translate3d(-50%, -50%, 0)
            -moz-transform: translate3d(-50%, -50%, 0)
            -webkit-transform: translate3d(-50%, -50%, 0)

            h4
              text-transform: uppercase
              font-size: 1.4em

            h5
              margin-top: 5px
              margin-bottom: 0
              text-transform: uppercase
              color: #777

            ul
              list-style-type: none
              padding: 0

              li
                display: inline-block
                color: #f1f1f1
                background: #c0392b
                padding: 5px 10px
                margin: 0 5px
                border-radius: 3px
                text-transform: uppercase
                font-size: 0.8em

                &:first-of-type
                  margin-left: 0

            a
              color: #555
              text-decoration: none
              font-weight: bold

              &:hover
                text-decoration: underline

            .button
              display: block
              border: 1px solid #555
              padding: 10px 20px
              border-radius: 5px
              width: 160px
              text-transform: uppercase
              text-align: center
              margin-top: 40px
              transition: all 300ms
              -ms-transition: all 300ms
              -moz-transition: all 300ms
              -webkit-transition: all 300ms
              color: #555
              text-decoration: none

              &:hover
                background: #555
                color: #f1f1f1
                transition: all 300ms
                -ms-transition: all 300ms
                -moz-transition: all 300ms
                -webkit-transition: all 300ms
                text-decoration: none

        .img-container
          display: block
          width: $img-container-width
          height: $project-height
          overflow: hidden

          img
            width: $img-container-width

          .bx-wrapper
            .bx-prev
              -webkit-transform: translateX(-50px)
              -webkit-transition: -webkit-transform 300ms

            .bx-next
              -webkit-transform: translateX(50px)
              -webkit-transition: -webkit-transform 300ms

          &:hover
            .bx-wrapper
              .bx-prev, .bx-next
                -webkit-transform: translateX(0)
                -webkit-transition: -webkit-transform 300ms

        &:nth-of-type(odd)
          .text-container
            float: left

          .img-container
            float: right

        &:nth-of-type(even)
          .text-container
            float: right

          .img-container
            float: left