.recent-work
	background: #f1f1f1
	color: #555

	.projects-container
		width: 900px
		margin: 0 auto

		.project
			display: inline-block
			margin: 20px

			img
				width: 250px
				border: 5px solid #fff

			p
				text-transform: uppercase
				color: #777

		.project:hover
			p
				color: #e74c3c
				transition: color .15s ease-in-out
				-moz-transition: color .15s ease-in-out
				-webkit-transition: color .15s ease-in-out