.what-i-do
  background: #fff
  color: #555
  /*min-height: 500px*/

  .skills-container
    width: 960px
    margin: 0 auto

    .skill
      display: inline-block
      margin: 0 30px 20px 30px
      color: #777
      vertical-align: top

      p
        transition: all .15s linear
        -moz-transition: all .15s linear
        -webkit-transition: all .15s linear

      p:first-of-type
        text-transform: uppercase

      img
        width: 170px
        opacity: 0.7
        transition: all .15s linear
        -moz-transition: all .15s linear
        -webkit-transition: all .15s linear

    .skill:hover
      img
        opacity: 1
        transition: opall .15s linear
        -moz-transition: opall .15s linear
        -webkit-transition: opall .15s linear

      p
        color: #e74c3c
        transition: all .15s linear
        -moz-transition: all .15s linear
        -webkit-transition: all .15s linear