.what-i-do
	background: #fff
	color: #555
	/*min-height: 500px*/

	.skills-container
		width: 900px
		margin: 0 auto

		.skill
			display: inline-block
			margin: 0 30px 20px 30px
			color: #777
			vertical-align: top

			p:first-of-type
				text-transform: uppercase

			img
				width: 100px

		.skill:hover
			p:first-of-type
				color: #e74c3c
				transition: color .15s ease
				-moz-transition: color .15s ease
				-webkit-transition: color .15s ease

			/*img*/
				/*padding-top: 2px*/
				/*transition: padding-top .15s ease*/
				/*-moz-transition: padding-top .15s ease*/
				/*-webkit-transition: padding-top .15s ease*/

			/*p:last-of-type*/
				/*padding-top: 2px*/
				/*transition: padding-top .15s ease*/
				/*-moz-transition: padding-top .15s ease*/
				/*-webkit-transition: padding-top .15s ease*/