body {
  margin: 0;
  font-family: "Muli";
  background: #ecf0f1; }

/* ---------- INTRO ---------- */
.intro {
  padding: 60px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background: #333333; }
  .intro .container {
    width: 60%;
    margin: 0 auto;
    color: white;
    text-align: center; }
    .intro .container h1 {
      font-weight: 400;
      font-size: 40px;
      margin-bottom: 0;
      margin-top: 0;
      font-family: "Montserrat";
      text-transform: uppercase;
      text-shadow: 0 2px 1px black; }
    .intro .container h2 {
      font-weight: 300;
      font-size: 22px;
      margin-top: 6px;
      color: white;
      font-family: "Muli"; }
    .intro .container .social i {
      margin: 0 10px;
      color: white;
      text-decoration: none;
      text-shadow: 0 2px 1px black; }
    .intro .container .social i.icon-facebook:hover {
      color: #3b5998; }
    .intro .container .social i.icon-twitter:hover {
      color: #4099ff; }
    .intro .container .social i.icon-instagram:hover {
      color: #517fa4; }
    .intro .container .social i.icon-pinterest:hover {
      color: #cb2027; }
    .intro .container .social i.icon-tumblr:hover {
      color: #32506d; }
    .intro .container .social i.icon-linkedin:hover {
      color: #007bb6; }
    .intro .container .social i.icon-envelope-alt:hover {
      color: #dd4b39; }

/* ---------- ABOUT ME ---------- */
.about {
  font-family: "Muli";
  margin-top: 252px;
  position: relative;
  background: #ecf0f1; }
  .about h2 {
    background: #e74c3c;
    color: white;
    text-align: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    width: 100%;
    padding: 20px 0 13px 0;
    margin: 0;
    border-bottom: 7px solid #c0392b;
    text-shadow: 0 2px 1px #c0392b; }
  .about #about-me {
    width: 100%; }

/* ---------- PROJECTS ---------- */
.projects {
  font-family: "Muli";
  background: #ecf0f1;
  position: relative; }
  .projects h2 {
    background: #f1c40f;
    color: white;
    text-align: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    width: 100%;
    padding: 20px 0 13px 0;
    margin: 0;
    border-bottom: 7px solid #f39c12;
    text-shadow: 0 2px 1px #f39c12; }
  .projects #container {
    width: 100%;
    text-align: center; }
  .projects .item {
    width: 250px;
    margin: 20px 10px 20px 10px;
    display: inline-block; }
    .projects .item img {
      width: 100%;
      border-radius: 10px; }
    .projects .item img:hover {
      opacity: 0.6; }

/* ---------- PROJECT PAGES ---------- */
.header {
  background: #333333;
  height: 80px;
  width: 100%; }
  .header h1 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: white;
    text-shadow: 0 2px 1px black;
    float: left;
    padding: 23px 0 0 25px; }
  .header .social {
    float: right;
    padding: 31px 19px 0 0; }
    .header .social i {
      margin: 0 5px;
      color: white;
      text-decoration: none;
      text-shadow: 0 2px 1px black; }
    .header .social i.icon-facebook:hover {
      color: #3b5998; }
    .header .social i.icon-twitter:hover {
      color: #4099ff; }
    .header .social i.icon-instagram:hover {
      color: #517fa4; }
    .header .social i.icon-pinterest:hover {
      color: #cb2027; }
    .header .social i.icon-tumblr:hover {
      color: #32506d; }
    .header .social i.icon-linkedin:hover {
      color: #007bb6; }
    .header .social i.icon-envelope-alt:hover {
      color: #dd4b39; }

.content {
  background: #ecf0f1; }
  .content h2 {
    background: #3498db;
    color: white;
    text-align: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    width: 100%;
    padding: 20px 0 13px 0;
    margin: 0;
    border-bottom: 7px solid #2980b9;
    text-shadow: 0 2px 1px #2980b9; }

/* ---------- FOOTER ---------- */
.footer {
  position: fixed;
  width: 100%; }

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
