body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat"; }
  body section {
    text-align: center;
    padding: 30px 0; }

h1 {
  font-size: 4em;
  font-weight: 400;
  font-family: "Pacifico";
  margin-bottom: 0; }

h2 {
  font-size: 1.6em;
  font-weight: 400; }

h3 {
  font-size: 1.6em;
  font-weight: 700;
  text-transform: uppercase; }

h4 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0; }

p {
  font-size: 1em;
  font-weight: 400; }

.intro {
  background: url("../images/header-bg.png") 50% 50% no-repeat fixed #333333;
  background-size: cover;
  height: 600px;
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center; }
  .intro .intro-content {
    width: 470px;
    text-shadow: 0 0 60px black;
    color: white;
    text-align: center; }
    .intro .intro-content a {
      color: white;
      text-decoration: none; }
    .intro .intro-content a:hover {
      text-decoration: underline; }
    .intro .intro-content .icon {
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      -ms-border-radius: 50%;
      -mox-border-radius: 50%;
      -webkit-border-radius: 50%;
      display: -ms-flexbox;
      -ms-flex-pack: center;
      -ms-flex-align: center;
      display: -moz-box;
      -moz-box-pack: center;
      -moz-box-align: center;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      display: box;
      box-pack: center;
      box-align: center;
      margin: 0 auto;
      transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      -webkit-transition: all 0.15s linear; }
      .intro .intro-content .icon i {
        color: #555555; }
      .intro .intro-content .icon:hover {
        background: white;
        transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -webkit-transition: all 0.15s linear; }

.what-i-do {
  background: white;
  color: #555555;
  /*min-height: 500px */ }
  .what-i-do .skills-container {
    width: 960px;
    margin: 0 auto; }
    .what-i-do .skills-container .skill {
      display: inline-block;
      margin: 0 30px 20px 30px;
      color: #777777;
      vertical-align: top; }
      .what-i-do .skills-container .skill p {
        transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -webkit-transition: all 0.15s linear; }
      .what-i-do .skills-container .skill p:first-of-type {
        text-transform: uppercase; }
      .what-i-do .skills-container .skill img {
        width: 170px;
        opacity: 0.7;
        transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -webkit-transition: all 0.15s linear; }
    .what-i-do .skills-container .skill:hover img {
      opacity: 1;
      transition: opall 0.15s linear;
      -moz-transition: opall 0.15s linear;
      -webkit-transition: opall 0.15s linear; }
    .what-i-do .skills-container .skill:hover p {
      color: #e74c3c;
      transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      -webkit-transition: all 0.15s linear; }

.recent-work {
  background: #f1f1f1;
  color: #555555; }
  .recent-work .projects-container {
    width: 900px;
    margin: 0 auto; }
    .recent-work .projects-container .project {
      display: inline-block;
      margin: 20px; }
      .recent-work .projects-container .project img {
        width: 250px;
        border: 5px solid white; }
      .recent-work .projects-container .project p {
        text-transform: uppercase;
        color: #777777;
        transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -webkit-transition: all 0.15s linear; }
        .recent-work .projects-container .project p .external-link {
          color: #777777;
          text-decoration: none; }
          .recent-work .projects-container .project p .external-link i {
            margin-left: 10px; }
      .recent-work .projects-container .project .hidden {
        display: none; }
    .recent-work .projects-container .project:hover p {
      color: #e74c3c;
      transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      -webkit-transition: all 0.15s linear; }
      .recent-work .projects-container .project:hover p .external-link {
        color: #e74c3c;
        transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -webkit-transition: all 0.15s linear; }

.contact {
  background: #e74c3c;
  color: white; }
  .contact p {
    width: 400px;
    margin-left: auto;
    margin-right: auto; }
  .contact h4:first-of-type {
    margin-top: 40px; }
  .contact .email {
    color: white;
    text-decoration: none; }
  .contact .icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    -ms-border-radius: 50%;
    -mox-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack: center;
    box-align: center;
    transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear; }
    .contact .icon i {
      color: #e74c3c; }
    .contact .icon:hover {
      background: white;
      transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      -webkit-transition: all 0.15s linear; }
  .contact .social {
    margin-top: 40px;
    margin-bottom: 80px; }
    .contact .social a {
      color: #e74c3c;
      display: inline-block;
      margin: 0 5px; }
  .contact .arrow-up {
    margin: 0 auto 40px;
    background: rgba(255, 255, 255, 0.5); }
  .contact .copyright {
    font-size: 14px; }

/* Tablet */
@media only screen and (max-width: 1024px) {
  html, body {
    width: auto; }
    html .what-i-do .skills-container, body .what-i-do .skills-container {
      width: 70%; }
    html .recent-work .projects-container, body .recent-work .projects-container {
      width: 80%; } }
/* Mobile */
@media only screen and (max-width: 480px) {
  html, body {
    width: auto; }
    html h1, body h1 {
      font-size: 3em; }
    html h2, html h3, body h2, body h3 {
      font-size: 1.3em; }
    html h4, body h4 {
      font-size: 1.1em; }
    html p, body p {
      font-size: 0.9em; }
    html .intro, body .intro {
      height: 300px; }
      html .intro .intro-content, body .intro .intro-content {
        width: 80%; }
        html .intro .intro-content .icon, body .intro .intro-content .icon {
          display: none; }
    html .what-i-do .skills-container, body .what-i-do .skills-container {
      width: 100%; }
      html .what-i-do .skills-container .skill, body .what-i-do .skills-container .skill {
        margin: 0 40px 20px 40px; }
    html .recent-work .projects-container, body .recent-work .projects-container {
      width: 100%; }
    html .contact p, body .contact p {
      width: 80%; }
    html .contact .social, body .contact .social {
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
      html .contact .social a:nth-of-type(5), html .contact .social a:nth-of-type(6), html .contact .social a:nth-of-type(6), body .contact .social a:nth-of-type(5), body .contact .social a:nth-of-type(6), body .contact .social a:nth-of-type(6) {
        margin-top: 10px; } }
