body
	margin: 0
	font-family: 'Muli'
	background: #222

/* ---------- INTRO ---------- */
.intro
	padding: 60px 0

	.container
		width: 60%
		margin: 0 auto
		color: #fff
		text-align: center
		
		h1
			font-weight: 400
			font-size: 40px
			margin-bottom: 0
			margin-top: 0

		h2
			font-weight: 300
			font-size: 22px
			margin-top: 6px

		.social
			i
				margin: 0 10px
				color: #fff
				text-decoration: none

			i.icon-facebook:hover
				color: #3B5998

			i.icon-twitter:hover
				color: #4099FF

			i.icon-instagram:hover
				color: #517fa4

			i.icon-pinterest:hover
				color: #cb2027

			i.icon-tumblr:hover
				color: #32506d

			i.icon-linkedin:hover
				color: #007bb6

			i.icon-envelope-alt:hover
				color: #dd4b39

/* ---------- PROJECTS ---------- */
.projects
	#accordion
		font-family: 'Muli'

		.heading
			color: #fff
			border: none
			margin-top: 0
			border-radius: 0
			padding: 1em .5em 1em 2em

			.ui-accordion-header-icon
				right: .5em

		.content
			color: #fff
			border: none
			border-radius: 0

		.little-boxes.heading
			background: #c0392b

		.little-boxes.content
			background: #e74c3c

		.momo.heading
			background: #f39c12

		.momo.content
			background: #f1c40f

		.transport.heading
			background: #2ecc71

		.transport.content
			background: #2ecc71

		.multitouch.heading
			background: #9b59b6

		.multitouch.content
			background: #9b59b6

		.unicef.heading
			background: #3498db

		.unicef.content
			background: #3498db

		.urbanplay.heading
			background: #7f8c8d

		.urbanplay.content
			background: #7f8c8d

/* ---------- FOOTER ---------- */
.footer
