extends ../layout

//- block header
//-   include ../partials/header

block content
  .project-view#field-intouch
    a.btn-back(href="index.html") Go Back

    .project-title.bg-field-intouch Field InTouch
    .project-detail.bg-field-intouch
    
    section.info
      .content-wrap
        .row
          .col-sm-4
            h4 My Role
            ul
              li UI/UX design
              li Front-end development

          .col-sm-4
            h4 The Client
            ul
              li: a.standard(href="http://www.imperial-tobacco.com/" target="_blank") Imperial Tobacco

          .col-sm-4
            h4 Download the App
            ul
              li: a.standard(href="https://itunes.apple.com/us/app/field-in-touch/id583253185?mt=8" target="_blank") App Store 
              li (ask me for logins)

    section
      .content-wrap
        .row
          .col-sm-6
            h3 About the Project
            p Field InTouch is a versatile, modular platform providing sales forces with a single application for their core needs in the field. Field InTouch is a platform developed by CLD, and I regularly produce interactive slidedecks/mini-apps that are housed within in the app.
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .col-sm-6
            h3 My Approach
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.