.slide.project.glenda-graff
  i.fa.fa-angle-left
  i.fa.fa-angle-right

  .left
    .container
      .text
        h2 Glenda Graff
          //- span Website
      a.button(href='http://glendagraff.com.au/') Visit the site
        i.fa.fa-angle-double-right

  .right
    img(src='styles/img/projects/glenda-graff.png')