extends ../layout

//- block header
//-   include ../partials/header

block content
  .project-view#jr-cigars
    a.btn-back(href="index.html") Go Back

    .project-title.bg-jr-cigars JR Cigars: The Blending Room
    .project-detail.bg-jr-cigars
    
    section.info
      .content-wrap
        .row
          .col-sm-4
            h4 My Role
            ul
              li UI/UX design
              li Front-end development

          .col-sm-4
            h4 The Client
            ul
              li: a.standard(href="https://www.jrcigars.com/" target="_blank") JR Cigars

          .col-sm-4
            h4 Visit the Site
            ul
              li Coming soon!

    section
      .content-wrap
        .row
          .col-sm-6
            h3 About the Project
            p JR Cigars is the world's largest cigar e-commerce site, and CLD recently redesigned and rebuilt their platform. While I didn't play a huge role in the site design, I am now 
          .col-sm-6
            h3 My Approach
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.