extends ../layout

//- block header
//-   include ../partials/header

block content
  .project-view#jr-cigars
    a.btn-back(href="index.html") Go Back

    .project-title.bg-jr-cigars JR Cigars: The Blending Room
    .project-detail.bg-jr-cigars
    
    section.info
      .content-wrap
        .row
          .col-sm-4
            h4 My Role
            ul
              li UI/UX design
              li Front-end development

          .col-sm-4
            h4 The Client
            ul
              li: a.standard(href="https://www.jrcigars.com/" target="_blank") JR Cigars

          .col-sm-4
            h4 Visit the Site
            ul
              li Coming soon!

    section
      .content-wrap
        .row
          .col-sm-6
            h3 About the Project
            p JR Cigars is the world's largest cigar e-commerce site, and CLD recently redesigned and rebuilt their platform. While I didn't play a huge role in the site design, I now do any feature updates and changes.
            p The Blending Room is a new content hub for JR's customers to get access to everything they need to know about cigars, latest news and events, video reviews and intgrated social media feeds. This type of content experiences very high traffic on the current site and is great for SEO, so The Blending Room was conceived as a way to really consolidate all that content in its own, dedicated place and enrich the user experience.
            p The Blending Room is a Wordpress site, and will be launched in the coming weeks!
          .col-sm-6
            h3 My Approach
            p I was brought onto this project as design lead well into the content and basic layout decisions, but was essentially given free reign to make the space as interesting and exciting as possible. While remaining within the JR branding, I was able to make The Blending Room a little more fun and "edgier" than the very conservative look and feel of the e-commerce site.
            p To make the experience as rich and exciting as possible, I have kept the design very image centric. This will allow the client and their editorial team to support their content with great assets.
            p This was the first time I'd even touched Wordpress, and while at first I was quite daunted, once I got my head around it all it was actually quite a smooth process. I was, however, largely working with already existing CSS styles and templates from the main site.