extends ../layout

block append vars
  - bodyclass = 'project'

block content
  //- include ../partials/project
  
  //- +project-view(
  //-   "Meat Cuts", 
  //-   "UX/UI design",
  //-   "Font-end development", 
  //-   "http://www.mla.com.au/Home", 
  //-   "Meat & Livestock Australia", 
  //-   "", 
  //-   "https://itunes.apple.com/us/app/meat-cuts/id904537057?mt=8", 
  //-   "https://play.google.com/store/apps/details?id=com.mla.meatcuts&hl=en", 
  //-   "<p>Meat Cuts is an app I worked on at CLD, briefed to us by Meat &amp; Livestock Australia. They wanted to create an app for users to learn all about various cuts of meat and how best to cook them, in a fun an interactive way. Our focus user group was gourmet home cooks - largely, but not exclusively, in the young male demographic.</p> <p>There are a number of apps with a similar function on the App Store (most of which are less than amazing), so we really wanted Meat Cuts to stand out visually and to be the one that users chose. <p>The app has been downloaded over 60,000 times on both iOS and Android, with mostly 4 and 5 star reviews.</p>", 
  //-   "<p>This was the first project at CLD where I was able to take the lead on the design and art direction, as well as being the first consumer app I really worked on. The client's only real design input was that they wanted a "chalkboard look", so I got to have a lot of fun taking ownership of both the UX/user flow and the visual design.</p> <p>With feedback from my colleagues, I decided to keep both the user flow and the visuals as clean and simple as possible, while still taking care to integrate some interesting line work and imagery evocative of that chalkboard feel.</p> <p>The biggest challenge I faced in the design of Meat Cuts was fitting the animal diagrams onto the small screens, while keeping them large enough for the smaller sections to be tappable. We experimented with various device-rotation ideas, but in the end decided a horizontal scroll was the most user-friendly.</p> <p>Meat Cuts was built as a hybrid web app.</p>"
  //-   )(class="meat-cuts")




  .project-view#meat-cuts
    img.project-detail(src="meat-cuts/project-detail.jpg")
    
    section.info
      .content-wrap
        .row
          h1 Meat Cuts
        
        .row
          .col-sm-4
            h4 My Role
            ul
              li UI/UX design
              li Front-end development

          .col-sm-4
            h4 The Client
            ul
              li: a.standard(href="http://www.mla.com.au/Home" target="_blank") Meat &amp; Livestock Australia

          .col-sm-4
            h4 Download the App
            ul
              li: a.standard(href="https://itunes.apple.com/us/app/meat-cuts/id904537057?mt=8" target="_blank") App Store
              li: a.standard(href="https://play.google.com/store/apps/details?id=com.mla.meatcuts&hl=en" target="_blank") Google Play Store

    section(data-midnight="black")
      .content-wrap
        .row
          .col-sm-6
            h3 About the Project
            p Meat Cuts is an app I worked on at CLD, briefed to us by Meat &amp; Livestock Australia. They wanted to create an app for users to learn all about various cuts of meat and how best to cook them, in a fun an interactive way. Our focus user group was "gourmet home cooks" - largely, but not exclusively, in the young male demographic.
            p There are a number of apps with a similar function on the App Store (most of which are less than amazing), so we really wanted Meat Cuts to stand out visually and to be the one that users chose. 
            p The app has been downloaded over 60,000 times on both iOS and Android, with mostly 4 and 5 star reviews.

          .col-sm-6
            h3 My Approach
            p This was the first project at CLD where I was able to take the lead on the design and art direction, as well as being the first consumer app I really worked on. The client's only real design input was that they wanted a "chalkboard look", so I got to have a lot of fun taking ownership of both the UX/user flow and the visual design.
            p With feedback from my colleagues, I decided to keep both the user flow and the visuals as clean and simple as possible, while still taking care to integrate some interesting line work and imagery evocative of that chalkboard feel.
            p The biggest challenge I faced in the design of Meat Cuts was fitting the animal diagrams onto the small screens, while keeping them large enough for the smaller sections to be tappable. We experimented with various device-rotation ideas, but in the end decided a horizontal scroll was the most user-friendly.
            p Meat Cuts was built as a hybrid web app.