extends ../layout

block append vars
  - bodyclass = 'project'

block content
  .project-view#rupert-graves
    .project-title.bg-rupert-graves Rupert Graves
    .project-detail.bg-rupert-graves
    
    section.info
      .content-wrap
        .row
          .col-sm-4
            h4 My Role
            ul
              li UI/UX design
              li Development

          .col-sm-4
            h4 The Client
            ul
              li Rupert Graves

          .col-sm-4
            h4 Visit the Site
            ul
              li: a.standard(href="http://rupert.amelialewis.com.au/" target="_blank") Staging website

    section
      .content-wrap
        .row
          .col-sm-6
            h3 About the Project
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .col-sm-6
            h3 My Approach
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.