.article
  &--info
    position: sticky
    top: $spacer-xl

  &--content
    a
      @extend .link-highlight

  h2, h3
    margin-top: $spacer-xl

    &:first-child
      margin-top: 0

  .col-md-4 .link-highlight
    margin-bottom: $spacer-sm

  .project-content
    padding: 80px 60px

  img
    width: 100%

    // @media (min-width: $screen-sm-min)
    //   width: calc(100% + calc(4 * #{$spacer-xl}))
    //   margin-left: calc(-2 * #{$spacer-xl})

  p img
    margin-top: $spacer-md
    margin-bottom: $spacer-md

    @media (min-width: $screen-sm-min)
      margin-top: $spacer-lg
      margin-bottom: $spacer-lg

  p img + em
    display: block
    @extend .text-grey
    @extend .text-smaller
    font-style: normal
    margin: -1 * $spacer-md 0 $spacer-lg

    @media (min-width: $screen-sm-min)
      margin: -1 * $spacer-lg 0 $spacer-lg