.project-list-item
  display: block
  position: relative
  transition: all 400ms
  margin: 0 0 $spacer-xl

  &--image
    width: 100%
    height: 320px
    background: $lt-grey
    margin: 0 0 $spacer-lg

    @media (min-width: $screen-sm-min)
      height: 560px

  &--title
    position: relative
    display: inline-block
  
  &--info
    font-family: $monospace
    @extend .text-grey

  &--coming-soon
    pointer-events: none
    cursor: not-allowed

    .project-list-item--title
      @extend .text-grey

  .desktop &
    &:not(.project-list-item--coming-soon):hover
      // TODO