doctype 5
html(lang="en")
	head
		title Amelia Lewis
		link(type='text/css', rel='stylesheet', href='css/style.css')
		link(type='text/css', rel='stylesheet', href='css/lightbox.css')
		link(rel='stylesheet', href='css/font/font-awesome/css/font-awesome.min.css')
		link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Muli:300|Montserrat:700')
		link(rel='icon', type='image/png', href='http://www.amelialewis.com.au/css/images/favicon.png')
		script(src='js/jquery-1.10.2.min.js')
		script(src='js/lightbox-2.6.min.js')

	body
		section.intro
			div.container
				a(href='index.html')
					h1 Amelia Lewis

				div.social
					ul
						li
							a(href='https://www.facebook.com/lewis.amelia', target='_blank')
								i.icon-facebook
						li
							a(href='https://twitter.com/Amelia_Lewis', target='_blank')
								i.icon-twitter
						li
							a(href='http://instagram.com/amelia_lewis', target='_blank')
								i.icon-instagram
						li
							a(href='http://pinterest.com/lewisamelia/', target='_blank')
								i.icon-pinterest
						li
							a(href='http://meelz-on-wheels.tumblr.com/', target='_blank')
								i.icon-tumblr
						li
							a(href='http://www.linkedin.com/pub/amelia-lewis/44/672/9a1', target='_blank')
								i.icon-linkedin
						li
							a(href='mailto:amelialewis01@gmail.com')
								i.icon-envelope-alt

		section.about
			div#about-me	
				h2 hi there!
				h2 i'm a ux + ui designer
				p I have a Bachelor in Design Computing from The University of Sydney, and currently work as a mobile app and web designer for a small company in Manly, Sydney.
				p.break Here are some projects I've made
				a
					img.pulse(src='css/images/down-arrow.png')	

		section.projects
			div#little-boxes.project
				div.content
					div.text
						h3.heading Little Boxes
						p Little Boxes is an interactive digital art installation created in a group as part of a Human Computer Experience Design Studio. It is a reflection on history. It aims to reconcile personal narratives to the reporting of events; intermingling statuses, photos and tweets with news, movies and songs of the past. Various wooden boxes of different sizes, shapes and designs are scattered through the space, each with their own screen stored inside.
						//- p Essentially acting as a digital time capsule, Little Boxes allows the viewer to explore their own personal digital history through the past. As the work evolves, each of the viewers' personal narratives adds to a collective history. The work explores the act of sharing our digital stories: as memory itself becomes digitised, how will this affect our personal narratives and our identities?
						//- p Little Boxes is made using HTML5 and websocket technologies, and an Arduino on an iMac, iPod touches, iPads and a tablet PC.
						div.buttons
							a(href='little-boxes.html') More Info
					div.image
						img(src='css/images/little-boxes-outline.png')	

			div#momo.project
				div.content
					div.text
						h3.heading Momo Brasserie
						p I designed and developed the website and manage the social media channels for Momo Brasserie, a new Sydney restaurant.
						div.buttons
							a(href='http://www.momobrasserie.com.au' target='_blank') Website
					div.image
						img(src='css/images/momo-outline.png')	

			div#transport.project
				div.content
					div.text
						h3.heading Unified Public Transport System for Sydney
						p A group project involving the redesign of Sydney's public transport ticketing system and user interfaces. We produced designs for a smart card system, a mobile app, a ticketing machine and tickets with a major focus on improving the user experience for both experienced and novice users.
						p Our group came in 1st place, recognised by Cubic.
						div.buttons
							a(href='transport.html') More Info
							a(href='http://sydney.edu.au/news/architecture/274.html?newsstoryid=10795' target='_blank') Cubic Article
							a(href='http://sydney.edu.au/news/architecture/274.html?newsstoryid=10838' target='_blank') Usyd Article
					div.image
						img(src='css/images/transport-outline.png')	

			div#multitouch.project
				div.content
					div.text
						h3.heading Multitouch
						p This multitouch touchtable application allows the user to explore the world's highest grossing movies of all time. The user is able to see how much each movie grossed, various connections between the series, the movies' trailers as well as some other information.
						p The app was built in Processing, using the TuioZones, oscP5 and GSVideo libraries, with the data being imported from an XML file.
						div.buttons
							a(href='css/images/multitouch/poster.png' data-lightbox='multitouch') Print Poster
							a(href='website/applet_js/index.html' target='_blank') Web Version
					div.image
						img(src='css/images/multitouch-outline.png')

			div#unicef.project
				div.content
					div.text
						h3.heading Unicef Mobile Site
						p I designed a website for Unicef optimised for mobile devices. The brief wanted us to make it as easy as possible for users to donate on the go, as well as sign up for a newsletter and learn more about the top 10 causes.
						p My design was chosen as the best in the class, in terms of mobile optimisation.
						div.buttons
							a(href='unicef.html') More Info
					div.image
						img(src='css/images/unicef-outline.png')	

		section.footer
			div.container
				p Copyright &copy; Amelia Lewis 2013