// ===== RUN =====

//- cd Sites/Amelia-Lewis/css
//- sass --watch style.sass:style.css
//- 
//- cd Sites
//- jade -w Amelia-Lewis

//- ul
//- 	li
//- 		a(href='https://www.facebook.com/lewis.amelia', target='_blank')
//- 			i.icon-facebook
//- 	li
//- 		a(href='https://twitter.com/Amelia_Lewis', target='_blank')
//- 			i.icon-twitter
//- 	li
//- 		a(href='http://instagram.com/amelia_lewis', target='_blank')
//- 			i.icon-instagram
//- 	li
//- 		a(href='http://pinterest.com/lewisamelia/', target='_blank')
//- 			i.icon-pinterest
//- 	li
//- 		a(href='http://meelz-on-wheels.tumblr.com/', target='_blank')
//- 			i.icon-tumblr
//- 	li
//- 		a(href='http://www.linkedin.com/pub/amelia-lewis/44/672/9a1', target='_blank')
//- 			i.icon-linkedin
//- 	li
//- 		a(href='mailto:amelialewis01@gmail.com')
//- 			i.icon-envelope-alt


doctype 5
html(lang="en")
	head
		title Amelia Lewis
		link(type='text/css', rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/font/font-awesome/css/font-awesome.min.css')
		link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
		link(rel='icon', type='image/png', href='http://www.amelialewis.com.au/css/images/favicon.png')
		meta(name='viewport' content='width=device-width')
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(type='text/javascript', src='js/ease.js')


	body
		section#top.intro
			.intro-content
				h1 Hi there!
				h2 My name is Amelia Lewis and I’m a UX + UI designer living in Sydney.
				a(href='#middle').arrow-down
					img(src='images/arrow.png')

		section#middle.what-i-do
			.what-i-do-content
				h3 What I Do

				.skills-container
					.skill.art-direction
						p Art Direction
						img(src='images/little-boxes.png')
						p Lorem ipsum

					.skill.ux-design
						p UX Design
						img(src='images/little-boxes.png')
						p Lorem ipsum

					.skill.interface-design
						p Interface Design
						img(src='images/little-boxes.png')
						p Lorem ipsum

					.skill.front-end-web-dev
						p Front-End Web Dev
						img(src='images/little-boxes.png')
						p Lorem ipsum

		section.recent-work
			div.recent-work-content
				h3 Recent Work

				.projects-container
					.project.gcg
						img(src='images/gcg.png')
						p Glenda Graff Website

					.project.momo
						img(src='images/momo.png')
						p Momo Brasserie Website

					.project.little-boxes
						img(src='images/little-boxes.png')
						p Little Boxes

					.project.transport
						img(src='images/transport.png')
						p Sydney Public Transport

					.project.multitouch
						img(src='images/multitouch.png')
						p Multitouch Application

					.project.unicef
						img(src='images/unicef.png')
						p Unicef Mobile Website

		section.contact
			.contact-content
				h3 Contact

				p If you want to work with me or find out more about my recent work, get in touch!
				h4 0422 960 962
				h4 amelialewis01@gmail.com

				.social
					a(href='https://www.facebook.com/lewis.amelia', target='_blank')
						img(src='images/facebook.png')

					a(href='https://twitter.com/Amelia_Lewis', target='_blank')
						img(src='images/twitter.png')

					a(href='http://instagram.com/amelia_lewis', target='_blank')
						img(src='images/instagram.png')

					a(href='http://www.linkedin.com/pub/amelia-lewis/44/672/9a1', target='_blank')
						img(src='images/linkedin.png')

					a(href='http://meelz-on-wheels.tumblr.com/', target='_blank')
						img(src='images/tumblr.png')

				a(href='#top').arrow-up
					img(src='images/arrow.png')

				p.copyright Copyright &copy; Amelia Lewis 2014



