.content-wrap
  .text-block
    .left
      h2 About me
    .right
      p I am a UI / UX designer, and front-end developer. I  have a passion for both design and technology, and I like to express this by designing beautiful, functional, and user-friendly interfaces. 
      p I love to make both websites and mobile apps, working from initial user experience design and flow, through interface design and into front-end development. 