.content-wrap
  .text-block
    .left
      h2 About me
    .right
      p I'm a UI/UX designer and front-end developer, designing and developing at 
        a(href='http://creativelicencedigital.com/', target='_blank') Creative Licence Digital
        |  in New York City.
      p I love to create beautfiul, user-friendly interfaces for websites and mobile apps, working from initial user experience and interface design all the way through to development.