.content-wrap
  .row
    .col-sm-3
      h2.text-right Hey!
    .col-sm-9
      p I'm a UX/UI designer and front-end developer, designing and developing at 
        a.standard(href='http://creativelicencedigital.com/', target='_blank') Creative Licence Digital
        |  in New York City.
      p I love to create beautfiul, user-friendly interfaces for websites and mobile apps, working from initial user experience and interface design all the way through to development.
      p Keep scrollin' to see some of the projects I've worked on!