.content-wrap
  .row
    .col-sm-2
      h2.text-right Hey!
    .col-sm-10
      p I'm a UX/UI designer and front-end developer, designing and developing at 
        a.standard(href='http://creativelicencedigital.com/', target='_blank') Creative Licence Digital
        |  in New York City.
      p I love to create beautiful, user-friendly interfaces for websites and mobile apps, working from initial user experience and interface design all the way through to front-end development.
      p Keep scrollin' to see some of the projects I've worked on!