.b-nav.block-lg
  ul
    li.text-tight: a.b-link.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='/') Home
    .block-ver-md: hr

    //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='mailto:amelialewis01@gmail.com', target='_blank') Email
    //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='https://www.facebook.com/lewis.amelia', target='_blank') Facebook
    //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='https://twitter.com/Amelia_Lewis', target='_blank') Twitter
    //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='http://instagram.com/amelia_lewis', target='_blank') Instagram
    //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='http://meelz-on-wheels.tumblr.com/', target='_blank') Tumblr
    //- //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='https://www.pinterest.com/lewisamelia/', target='_blank') Pinterest
    //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='http://www.linkedin.com/pub/amelia-lewis/44/672/9a1', target='_blank') LinkedIn
    //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='http://dribbble.com/Amelia_Lewis', target='_blank') Dribbble
    //- li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href='https://github.com/amelia-lewis', target='_blank') Github

    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-city-by-city-app") WGSN City by City App
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-workspace") WGSN Workspace &amp; Image Library
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-brand-guide") WGSN Brand Guide
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-catwalks-app") WGSN Catwalks App
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-public-site") WGSN Public Website
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="meat-cuts") Meat Cuts
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="the-blending-room") The Blending Room
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="shoppernova") ShopperNova
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="repassist") RepAssist
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="rupert-graves") Rupert Graves
    li: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="glenda-graff") Glenda Graff

.b-container
  .b-menu
    .b-bun.b-bun--top
    .b-bun.b-bun--mid
    .b-bun.b-bun--bottom