.b-nav.block-lg
  ul
    li.delay-300: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-city-by-city-app") WGSN City by City App
    li.delay-350: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-workspace") WGSN Workspace &amp; Image Library
    li.delay-400: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-brand-guide") WGSN Brand Guide
    li.delay-450: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-catwalks-app") WGSN Catwalks App
    li.delay-500: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="wgsn-public-site") WGSN Public Website
    li.delay-550: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="meat-cuts") Meat Cuts
    li.delay-600: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="the-blending-room") The Blending Room
    li.delay-650: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="shoppernova") ShopperNova
    li.delay-700: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="repassist") RepAssist
    li.delay-750: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="rupert-graves") Rupert Graves
    li.delay-800: a.b-link.text-smaller.text-bold.text-uppercase.text-spaced(href="glenda-graff") Glenda Graff

.b-container
  .b-menu
    .b-bun.b-bun--top
    .b-bun.b-bun--mid
    .b-bun.b-bun--bottom