.b-nav
  ul
    li.block-bot-md.menu-home: a.b-link(href='/') Home
    li: a.b-link(href='mailto:amelialewis01@gmail.com', target='_blank') Email
    li: a.b-link(href='https://www.facebook.com/lewis.amelia', target='_blank') Facebook
    li: a.b-link(href='https://twitter.com/Amelia_Lewis', target='_blank') Twitter
    li: a.b-link(href='http://instagram.com/amelia_lewis', target='_blank') Instagram
    li: a.b-link(href='http://meelz-on-wheels.tumblr.com/', target='_blank') Tumblr
    li: a.b-link(href='https://www.pinterest.com/lewisamelia/', target='_blank') Pinterest
    li: a.b-link(href='http://www.linkedin.com/pub/amelia-lewis/44/672/9a1', target='_blank') LinkedIn
    li: a.b-link(href='http://dribbble.com/Amelia_Lewis', target='_blank') Dribbble
    li: a.b-link(href='https://github.com/amelia-lewis', target='_blank') Github

.b-container
  .b-menu
    .b-bun.b-bun--top
    .b-bun.b-bun--mid
    .b-bun.b-bun--bottom