.content-wrap
  h2 I've worked with some cool clients

  #clients-container
    a.client.roche(href='http://www.roche-australia.com/', target='_blank')
    a.client.mla(href='http://www.mla.com.au/Home', target='_blank')
    a.client.nova(href='http://www.novaentertainment.com.au/', target='_blank')
    a.client.novartis(href='http://www.novartis.com.au/', target='_blank')
    a.client.imperial-tobacco(href='http://www.imperial-tobacco.com/', target='_blank')