header#header
  .content-wrap
    //- #logo
    //-   h1
    //-     a(href=locals.url)= locals.name

    //- #nav
    //-   ul
    //-     for href, title in locals.nav
    //-       - var _href  = page && page.filepath.relative.split("/")[0];
    //-       - var active = page && href.match(_href);

    //-       li(class=(active ? "active" : ""))
    //-         a(href=href)= title

    a.go-back.text-uppercase(href="index.html")
      i.fa.fa-angle-left
      | Go Back