section#masthead.block-ver-xl
  .content-wrap
    .row.block-ver-xl
      .col-xs-12
        h1 Hi, I'm Amelia.
        p.text-tight
          | I'm a product designer at 
          a.highlighted(href="http://wgsn.com", target="_blank") WGSN
          |  based in New York City, previously at 
          a.highlighted(href="http://creativelicencedigital.com/", target="_blank") Creative Licence Digital
          | .
        p I love beautiful products, design systems and CSS.