section#masthead.flex-center.border-bottom
  .content-wrap
    .row.block-ver-xl
      .col-xs-12
        h1.header-highlight Hi, I'm Amelia.
        p.text-bigger
          | I'm a product designer at 
          a.highlighted(href="http://wgsn.com", target="_blank") WGSN
          |  based in New York City, previously at 
          a.highlighted(href="http://creativelicencedigital.com/", target="_blank") Creative Licence Digital
          | .
        p.text-bigger I love beautiful products, design systems and well-crafted CSS.