section#masthead
  .content-wrap
    .row
      .col-xs-12
        h1 Amelia Lewis
        h3.text-tight Product Designer
        p
          | Currently working at 
          a.underlined(href="http://wgsn.com", target="_blank") WGSN
          |  in New York City, previously at 
          a.underlined(href="http://creativelicencedigital.com/", target="_blank") Creative Licence Digital
          | .