section#masthead
  .content-wrap
    h1.text-bold amelia lewis
    p.text-lowercase.text-spaced.text-bold.text-tight Product Designer
    p.text-lowercase.text-spaced
      | Currently working at 
      a.underlined(href="http://wgsn.com", target="_blank") WGSN
      |  in New York City, previously at 
      a.underlined(href="http://creativelicencedigital.com/", target="_blank") Creative Licence Digital
      | .