section#masthead.block-ver-xl
  .content-wrap
    .row.block-ver-xl.text-center
      .col-xs-12
        h1.text-tight Amelia Lewis
        p
          | Product designer at 
          a.highlighted(href="http://wgsn.com", target="_blank") WGSN
          |  based in New York City, previously at 
          a.highlighted(href="http://creativelicencedigital.com/", target="_blank") Creative Licence Digital
          | .