mixin project-list-item(id, title, type, year, comingsoon)
  .project-list-item.block-ver-md(id=id)
    //- .project-img(style="background-image: url('/projects/" + id + "/project-tile.jpg')")
    p.text-uppercase.text-smaller.text-spaced.text-tight.text-grey= type
    a.highlighted.text-bigger(href="/projects/" + id)= title

//- ===============================================================================================

section#project-list.block-bot-xl
  .content-wrap
    .row
      .col-xs-12
        h3 Recent projects

    .row
      .col-xs-12
        +project-list-item("wgsn-workspace", "WGSN Workspace & Image Library", "Web App", "2016", true)
    
    .row
      .col-xs-12
        +project-list-item("wgsn-brand-guide", "WGSN Brand Guide", "Website", "2015", true)
    
    .row
      .col-xs-12
        +project-list-item("wgsn-catwalks-app", "WGSN Catwalks App", "Mobile App", "2015", true)
      
    .row  
      .col-xs-12
        +project-list-item("wgsn-public-site", "WGSN Public Website", "Website", "2015", true)
    
    .row.block-top-xl
      .col-xs-12
        h3 Older

    .row
      .col-xs-12
        +project-list-item("meat-cuts", "Meat Cuts", "Mobile app", "2014", false)
    
    .row
      .col-xs-12
        +project-list-item("the-blending-room", "The Blending Room", "Website", "2015", false)
      
    .row  
      .col-xs-12
        //- +project-list-item("field-intouch", "Field InTouch", "Tablet app", "2013–2015", false)
        +project-list-item("shoppernova", "ShopperNova", "Mobile app", "2014", false)
      
    .row  
      .col-xs-12
        +project-list-item("repassist", "RepAssist", "Tablet app", "2014", false)
    
    .row
      .col-xs-12
        +project-list-item("rupert-graves", "Rupert Graves", "Website", "2015", false)
      
    .row  
      .col-xs-12
        +project-list-item("glenda-graff", "Glenda Graff", "Website", "2013–2014", false)
    
    //- .row
    //-   .col-xs-12
    //-     +project-list-item("my-portfolio", "My Portfolio", "Website", "2012–2015", true)