script(type="text/javascript", src="/js/vendor/jquery-1.10.1.min.js")
script(type="text/javascript", src="/js/vendor/jquery.headroom.js")
script(type="text/javascript", src="/js/vendor/html5shiv.js")
script(type="text/javascript", src="/js/vendor/device.min.js")
script(type="text/javascript", src="/js/vendor/owl.carousel.min.js")
script.
  $(document).ready(function() {
    $("#slider").owlCarousel({
    navigation     : true,
    slideSpeed     : 400,
    pagination     : false,
    singleItem     : true,
    addClassActive : true
    });
    });
