//- jquery
script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")

//- wow
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
script.
  new WOW().init();

script.
  wowImages = function(){
    $('.project-view').find('img').addClass('wow fadeIn').attr("data-wow-delay", "300ms");
  };

  wowImages();

//- Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-50157111-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-50157111-1');

//- fullPage
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js")
script.
  $(document).ready(function() {
    $('#fullpage').fullpage({      
      // Navigation
      menu: '#menu',
      lockAnchors: false,
      anchors:['pr-hey', 'pr-about', 'pr-looking-for', 'pr-project-1', 'pr-project-2', 'pr-project-3', 'pr-contact'],
      navigation: true,
      navigationPosition: 'right',
      slidesNavigation: true,
      slidesNavPosition: 'bottom',

      // Design
      verticalCentered: true,
      paddingTop: 80,
      paddingBottom: 80,
      controlArrows: false
    });
  });