script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")
//- script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js")
script(type="text/javascript", src="/js/vendor/burger.min.js")
//- script(type="text/javascript", src="/js/vendor/wow.js")

//- script.
//-   $.stellar({
//-     horizontalOffset: 0,
//-     verticalOffset: 0
//-   });

//- script.
//-   new WOW().init();