//- jquery
script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")

//- lightbox
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js")

//- burger
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/burger/2.0.2/scripts/burger.min.js")

//- wow
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
script.
  new WOW().init();

script.
  wowImages = function(){
    $('.project-view').find('img').addClass('wow fadeIn').attr("data-wow-delay", "300ms");
  };

  wowImages();