script(type="text/javascript", src="/js/vendor/jquery-1.10.1.min.js")
script(type="text/javascript", src="/js/vendor/modernizr.js")
script(type="text/javascript", src="/js/vendor/wow.js")
script.
  new WOW().init();
script(type="text/javascript", src="/js/vendor/device.min.js")