.content-wrap
  h2 What I do

  .skills-container
    .tile
      i.fa.fa-2x.fa-pencil
      h4 User Experience Design
      //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .tile
      i.fa.fa-2x.fa-th-list
      h4 Interface Design
      //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .tile
      i.fa.fa-2x.fa-lightbulb-o
      h4 Art Direction
      //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .tile
      i.fa.fa-2x.fa-code
      h4 HTML + CSS
      //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .tile
      i.fa.fa-2x.fa-mobile
      h4 Mobile apps
      //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .tile
      i.fa.fa-2x.fa-desktop
      h4 Responsive websites
      //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.