.content-wrap
  h2.text-center What I do

  .row
    .col-sm-4
      .tile
        i.fa.fa-2x.fa-pencil
        h4 UX Design
        //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .col-sm-4
      .tile
        i.fa.fa-2x.fa-lightbulb-o
        h4 UI Design
        //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .col-sm-4
      .tile
        i.fa.fa-2x.fa-code
        h4 HTML + CSS
        //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.