mixin squiggle(name)
  if name === 'squarespace'
    svg(class='squiggle squiggle--' + name width='422' height='90' viewbox='0 0 422 90' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M6 68.5906C23.5592 44.4796 48.7338 25.23 74 9.70175C80.1082 5.94775 84.6285 2.81873 83.7778 12.0351C82.157 29.5935 75.3066 47.2041 69.4444 63.7018C68.3196 66.8673 58.7221 91.8685 68.7222 81.2018C74.6576 74.8707 99.6267 42.3855 100 68.1462C100.126 76.8335 110.032 69.777 114.556 66.924C119.844 63.5889 146.918 41.319 151.889 51.8129C153.791 55.8286 152.064 65.8531 155.278 68.424C164.47 75.7779 187.83 49.3669 193 44.5906C196.109 41.7182 217.126 20.2583 217.889 32.0906C218.263 37.8912 217.95 43.8091 217.444 49.5906C217.244 51.8848 214.269 63.8906 217.111 65.3684C221.52 67.661 230.397 59.6473 233.111 57.7018C241.785 51.4846 250.14 44.5893 259.556 39.4795C264.199 36.9593 270.817 33.728 276.333 35.2573C281.947 36.8136 283.916 45.0593 286.056 49.5906C295.183 68.9194 311.86 71.7319 332.056 72.8684C360.725 74.4819 387.315 71.5119 415 64.5906')
  if name === 'stipple-design-system'
    svg(class='squiggle squiggle--' + name width='403' height='75' viewbox='0 0 403 75' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M262.312 6C184.884 6.48392 106.176 13.2332 32.7005 39.2222C30.555 39.9811 -1.99907 51.0075 9.42268 56.8889C16.8937 60.7359 25.5405 62.266 33.756 63.3333C60.4011 66.7951 87.6438 67.4472 114.478 67.8333C173.479 68.6823 232.334 67.9029 291.145 62.8889C314.32 60.913 337.911 59.3675 360.756 54.6667C370.752 52.6097 386.228 50.4124 394.645 43.7778C403.292 36.9617 368.735 30.3132 367.312 30.0556C315.621 20.6978 262.592 21.666 210.312 21')
  if name === 'newsroom-editorial-tools'
    svg(class='squiggle squiggle--' + name width='392' height='52' viewbox='0 0 392 52' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M7 26.9999C29.073 31.9741 53.7454 24.4642 73.3333 14.2221C78.212 11.6712 85.0909 5.50816 91.1111 6.05545C102.427 7.08418 112.05 19.0478 120.222 25.7777C129.115 33.1014 141.539 41.5729 153.667 40.7777C165.235 40.0191 174.801 32.1621 184.444 26.5555C196.613 19.4809 210.867 19.9758 224.444 22.4443C251.544 27.3716 276.484 39.4745 304.111 42.7777C331.291 46.0275 358.932 45.8667 386 41.9999')
  if name === 'rivendell-design-system'
    svg(class='squiggle squiggle--' + name width='390' height='40' viewbox='0 0 390 40' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M6 34C37.6436 34 66.5354 19.7613 97 13.5556C106.185 11.6845 115.289 11.2377 124.556 10.2222C133.417 9.25112 138.305 11.1568 142.778 18.7778C146.355 24.8718 147.878 28.2415 155.611 29.4444C171.268 31.8799 188.533 29.9883 203.889 26.8889C236.354 20.3362 267.328 10.6937 300.667 9C328.455 7.58827 356.22 7.63409 384 6')
  if name === 'rupert-graves'
    svg(class='squiggle squiggle--' + name width='299' height='38' viewbox='0 0 299 38' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M7 31.0058C20.465 27.5396 33.8634 23.9305 47.5 21.1725C84.6283 13.6634 122.607 6.48569 160.611 6.00585C183.416 5.71791 201.939 16.127 223.056 23.0058C246.255 30.5633 268.916 25.9334 292.278 22.3392')
  if name === 'insight'
    svg(class='squiggle squiggle--' + name width='137' height='61' viewbox='0 0 137 61' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M130.404 6C116.912 6.16255 103.341 7.29763 89.9596 9C79.1296 10.3778 68.6939 12.8549 58.2929 16.1667C49.1662 19.0727 38.0752 22.2191 30.6818 28.7778C19.6091 38.6003 26.433 45.7525 38.0707 49.3333C56.328 54.951 80.9164 56.3379 99.404 50.8889C104.393 49.4185 114.075 44.7518 109.515 37.7778C98.7719 21.3469 69.5571 18.8375 52.6263 16.3333C45.8707 15.3342 1.31408 7.18514 6.40404 25')
  if name === 'wework-guest-wi-fi'
    svg(class='squiggle squiggle--' + name width='345' height='50' viewbox='0 0 345 50' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M338 7C317.622 13.0777 294.841 14.0612 273.889 16.5556C203.845 24.8941 133.316 28.0399 63.2778 36.4444C46.3345 38.4776 -4.45376 43.7778 12.6111 43.7778C25.2832 43.7778 38.01 42.6821 50.6667 42.2222C86.6122 40.9161 122.591 40.5731 158.556 40.2222C206.515 39.7543 254.483 39.1239 302.444 39C308.52 38.9843 314.815 39.3944 320.889 38.9444C327.131 38.4821 308.422 37.7336 302.167 37.5C250.804 35.5819 199.38 36.7352 148 36.9444C100.668 37.1372 53.3329 37 6 37')
  if name === 'wgsn-marketing-site'
    svg(class='squiggle squiggle--' + name width='294' height='21' viewbox='0 0 294 21' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M287.556 6C266.113 7.75042 244.495 7.73802 223 8.44444C178.138 9.91879 133.252 10.6425 88.3889 12.0556C67.9815 12.6983 47.5854 13.7317 27.1667 13.9444C20.5401 14.0135 12.6774 14.8984 6 13.9444')
  if name === 'rebrand-and-style-guide'
    svg(class='squiggle squiggle--' + name width='302' height='26' viewbox='0 0 302 26' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M295.521 12.6638C281.34 14.3352 267.078 15.6236 252.841 16.6729C194.738 20.9549 136.463 19.1465 78.3234 16.916C63.1821 16.3351 48.0529 15.9713 32.9015 15.8363C28.0248 15.7928 12.8118 18.1025 7.57679 15.6235C4.64709 14.2361 13.6702 13.2605 16.8754 12.7763C30.7944 10.6738 44.9046 8.88823 58.939 7.85314C119.842 3.36137 180.305 7.55301 240.747 14.8726')
  if name === 'catwalks-app'
    svg(class='squiggle squiggle--' + name width='250' height='61' viewbox='0 0 250 61' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M187.241 47.6193C194.127 47.0406 206.362 47.8868 211.63 42.0637C219.436 33.4366 188.656 23.9353 185.297 23.0082C158.291 15.5547 129.612 11.2647 101.797 8.23039C81.983 6.06888 61.3514 5.1627 41.4635 6.95261C34.9097 7.54246 2.91835 10.4388 6.24124 23.7304C9.17127 35.4505 27.166 41.7027 36.7968 44.7304C54.2077 50.2039 73.0383 51.6296 91.1301 52.9526C113.099 54.5592 135.249 54.5589 157.241 53.3971C182.5 52.0626 209.347 48.9543 232.575 38.2859C237.731 35.9176 243.241 32.7907 243.241 26.6193')
  if name === 'workspace-and-image-library'
    svg(class='squiggle squiggle--' + name width='415' height='36' viewbox='0 0 415 36' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M6 11.0958C98.5113 8.34454 191.372 11.5638 283.778 6.20691C284.481 6.16613 285.19 6.18321 285.889 6.0958C287.579 5.88448 282.481 6.08745 280.778 6.0958C270.785 6.14479 260.811 6.27426 250.833 6.92914C208.682 9.69582 166.777 15.7916 125.111 22.5402C110.599 24.8909 96.103 27.5877 81.4444 28.8736C80.9207 28.9195 75.5845 29.6527 80.7778 28.7625C96.4709 26.0722 112.087 23.1288 127.889 21.0958C221.309 9.07689 314.995 6.92711 409 10.0958')
  if name === 'city-by-city-app'
    svg(class='squiggle squiggle--' + name width='171' height='73' viewbox='0 0 171 73' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M100.328 6C82.1788 6.87464 64.1866 10.4747 47.3276 17.3333C34.9531 22.3676 7.78339 31.9645 6.04984 48.7222C4.72942 61.4863 30.0261 62.9724 36.8276 63.8333C71.3427 68.2023 108.283 66.8995 142.328 59.4444C149.934 57.7787 164.345 53.4293 164.883 43.6667C165.752 27.9124 146.312 16.7447 133.605 12.6111C116.622 7.08645 94.6185 5.41225 76.8832 8.11111C71.6594 8.90603 66.9788 10.3488 63.3276 14')
  if name === 'meat-cuts'
    svg(class='squiggle squiggle--' + name width='294' height='25' viewbox='0 0 294 25' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M6 5.9999C99.4197 18.0188 193.106 20.1686 287.111 16.9999')
