mixin squiggle(name)
  if name === 'squarespace'
    svg(class='squiggle squiggle--' + name width='422' height='90' viewbox='0 0 422 90' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M6 68.5906C23.5592 44.4796 48.7338 25.23 74 9.70175C80.1082 5.94775 84.6285 2.81873 83.7778 12.0351C82.157 29.5935 75.3066 47.2041 69.4444 63.7018C68.3196 66.8673 58.7221 91.8685 68.7222 81.2018C74.6576 74.8707 99.6267 42.3855 100 68.1462C100.126 76.8335 110.032 69.777 114.556 66.924C119.844 63.5889 146.918 41.319 151.889 51.8129C153.791 55.8286 152.064 65.8531 155.278 68.424C164.47 75.7779 187.83 49.3669 193 44.5906C196.109 41.7182 217.126 20.2583 217.889 32.0906C218.263 37.8912 217.95 43.8091 217.444 49.5906C217.244 51.8848 214.269 63.8906 217.111 65.3684C221.52 67.661 230.397 59.6473 233.111 57.7018C241.785 51.4846 250.14 44.5893 259.556 39.4795C264.199 36.9593 270.817 33.728 276.333 35.2573C281.947 36.8136 283.916 45.0593 286.056 49.5906C295.183 68.9194 311.86 71.7319 332.056 72.8684C360.725 74.4819 387.315 71.5119 415 64.5906')
  if name === 'stipple-design-system'
    svg(class='squiggle squiggle--' + name width='403' height='75' viewbox='0 0 403 75' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M262.312 6C184.884 6.48392 106.176 13.2332 32.7005 39.2222C30.555 39.9811 -1.99907 51.0075 9.42268 56.8889C16.8937 60.7359 25.5405 62.266 33.756 63.3333C60.4011 66.7951 87.6438 67.4472 114.478 67.8333C173.479 68.6823 232.334 67.9029 291.145 62.8889C314.32 60.913 337.911 59.3675 360.756 54.6667C370.752 52.6097 386.228 50.4124 394.645 43.7778C403.292 36.9617 368.735 30.3132 367.312 30.0556C315.621 20.6978 262.592 21.666 210.312 21')
  if name === 'newsroom-editorial-tools'
    svg(class='squiggle squiggle--' + name width='392' height='52' viewbox='0 0 392 52' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M7 26.9999C29.073 31.9741 53.7454 24.4642 73.3333 14.2221C78.212 11.6712 85.0909 5.50816 91.1111 6.05545C102.427 7.08418 112.05 19.0478 120.222 25.7777C129.115 33.1014 141.539 41.5729 153.667 40.7777C165.235 40.0191 174.801 32.1621 184.444 26.5555C196.613 19.4809 210.867 19.9758 224.444 22.4443C251.544 27.3716 276.484 39.4745 304.111 42.7777C331.291 46.0275 358.932 45.8667 386 41.9999')
  if name === 'rivendell-design-system'
    svg(class='squiggle squiggle--' + name width='390' height='40' viewbox='0 0 390 40' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M6 34C37.6436 34 66.5354 19.7613 97 13.5556C106.185 11.6845 115.289 11.2377 124.556 10.2222C133.417 9.25112 138.305 11.1568 142.778 18.7778C146.355 24.8718 147.878 28.2415 155.611 29.4444C171.268 31.8799 188.533 29.9883 203.889 26.8889C236.354 20.3362 267.328 10.6937 300.667 9C328.455 7.58827 356.22 7.63409 384 6')
