mixin projectslide(title, description, img, link, bgcolor)
  .item(id!=attributes.id)
    .content-wrap
      .image  
        img(src=img)
      .text
        h3= title
        p= description
        a(href=link).btn Read More

#slider.owl-carousel.owl-theme
  +projectslide(
    'RepAssist',
    'Lorem ipsum dolor',
    'styles/img/projects/repassist-2.png',
    'google.com'
  )(id='repassist')

  +projectslide(
    'Meat Cuts',
    'Lorem ipsum dolor',
    'hello.jpg',
    'google.com'
  )(id='meat-cuts')
  
  +projectslide(
    'Gauloises',
    'Lorem ipsum dolor',
    'hello.jpg',
    'google.com'
  )(id='gauloises')
  
  +projectslide(
    'Rupert Graves',
    'Lorem ipsum dolor',
    'hello.jpg',
    'google.com'
  )(id='rupert-graves')
  
  +projectslide(
    'Dermatology Maps',
    'Lorem ipsum dolor',
    'hello.jpg',
    'google.com'
  )(id='derma-maps')
