#slider.owl-carousel.owl-theme
  .item#repassist
    h3 Repassist
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.btn Read more

  .item#meat-cuts
    h3 Meat Cuts
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.btn Read more

  .item#shoppernova
    h3 ShopperNova
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.btn Read more

  .item#rupert-graves
    h3 Rupert Graves
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.btn Read more