@charset "UTF-8";
/*CSS document */
body{font-family:Helvetica, Arial, Verdana;}

/**
CSS for Image scroller
*/
	
    /* image replacement */
    .graphic, #prevBtn, #nextBtn{margin:0;padding:0;display:block;overflow:hidden;text-indent:-8000px;}
    /* // image replacement */
	#container{	margin:0 auto;position:relative;text-align:left;width:279px;height:100px;background:#fff;margin-bottom:2em;}	
	/* Easy Slider */
	#slider ul, #slider li, #slider2 ul, #slider2 li{margin:0;padding:0;list-style:none;}
	
	#slider li, #slider2 li{ width:279px;height:100px;overflow:hidden; }	
	

/**
CSS buttons
*/



/**
CSS for footer.... 
*/

.footer_nav .ui-btn .ui-btn-inner { padding-top: 40px !important; font-size:10px; }
		.footer_nav .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
		#home .ui-icon { background:  url(../images/icons/homeIcon.png) 50% 50% no-repeat; background-size: 44px 44px; }
		#search .ui-icon { background:  url(../images/icons/searchIcon.png) 50% 50% no-repeat; background-size: 44px 44px;  }
		#checkIn .ui-icon { background:  url(../images/icons/checkInIcon.png) 50% 50% no-repeat;  background-size: 44px 44px; }
		#profile .ui-icon { background:  url(../images/icons/userIcon.png) 50% 50% no-repeat;  background-size: 44px 44px; }
		#places .ui-icon { background:  url(../images/icons/mapIcon.png) 50% 50% no-repeat;  background-size: 44px 44px; }
		#missions .ui-icon { background:  url(../images/icons/missionsIcon.png) 50% 50% no-repeat;  background-size: 44px 44px; }
		
/**
CSS for text
*/

.centeredContentUp {text-align:center; margin-top:-20px; }
.centeredContent {text-align:center;}


.img-center {display: block;   margin-left: auto;   margin-right: auto; margin-bottom:5px; margin-top:8px;}