svg(class='squiggle squiggle-client' width='85' height='19' viewbox='0 0 85 19' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(opacity='0.2' d='M6 13.0001C23.3626 10.7452 40.4296 8.76995 57.9444 8.00007C64.5161 7.7112 71.6676 5.88928 78 8.00007' stroke='#FF006B' stroke-width='12' stroke-linecap='round' stroke-linejoin='round')
