svg(class='squiggle squiggle--newsroom-editorial-tools' width='392' height='52' viewbox='0 0 392 52' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M7 26.9999C29.073 31.9741 53.7454 24.4642 73.3333 14.2221C78.212 11.6712 85.0909 5.50816 91.1111 6.05545C102.427 7.08418 112.05 19.0478 120.222 25.7777C129.115 33.1014 141.539 41.5729 153.667 40.7777C165.235 40.0191 174.801 32.1621 184.444 26.5555C196.613 19.4809 210.867 19.9758 224.444 22.4443C251.544 27.3716 276.484 39.4745 304.111 42.7777C331.291 46.0275 358.932 45.8667 386 41.9999')
