svg(class='squiggle squiggle--stipple-design-system' width='390' height='40' viewbox='0 0 390 40' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M6 34C37.6436 34 66.5354 19.7613 97 13.5556C106.185 11.6845 115.289 11.2377 124.556 10.2222C133.417 9.25112 138.305 11.1568 142.778 18.7778C146.355 24.8718 147.878 28.2415 155.611 29.4444C171.268 31.8799 188.533 29.9883 203.889 26.8889C236.354 20.3362 267.328 10.6937 300.667 9C328.455 7.58827 356.22 7.63409 384 6')
