#contact
  background: rgba(black, 0.7)
  color: white
  text-align: center

  .content-wrap
    h2:after
      background: white

    p
      font-size: 1.4em
      margin: 60px auto 40px
      letter-spacing: 0.05em
      width: 50%

    #contact-details
      a
        display: block
        font-size: 1.6em
        margin: 10px auto

        .country
          font-size: 60%
          text-transform: uppercase
          opacity: 0.7

    #contact-social-media
      margin-top: 60px
      
      a
        display: inline-block
        width: 60px
        height: 60px
        @extend .display-box
        margin: 0 10px

        i
          font-size: 2em