header
  .link-highlight
    span
      display: inline-block
      transform: translate(0, 0)
      transition: all 400ms

    &:hover
      span
        transform: translate(-3px, 0)

body.index
  header
    display: none