#masthead
  position: relative

  .masthead-intro
    @media (min-width: $screen-sm-min)
      p
        font-size: 1.3em

body.index
  display: flex
  flex-direction: column
  height: 100vh

  #content
    display: flex
    flex-direction: column
    justify-content: center
    flex-grow: 1