#masthead
  position: relative
  height: 600px
  
  .grey-box
    background: $lt-grey
    width: 40%
    height: calc(100% - 200px)
    position: absolute
    top: 100px
    left: 0
    z-index: 10
  
  .desc
    position: absolute
    top: 160px
    left: 38%
    z-index: 30

    h1
      font-size: 4.6em
      line-height: 1em
      position: relative
      +transform(translate3d(0, 0, 0))
      +transition(all 300ms)
      
      &:after
        content: ""
        display: block
        position: absolute
        background: $primary
        top: 28px
        left: -100px
        right: -1500px
        height: 14px
        z-index: -1

      @media (max-width: $screen-sm-min)
        font-size: 3.4em

    p:last-of-type
      margin-top: -5px

    @media (max-width: $screen-sm-min)
      left: 20%

      h1:after
        top: 20px
        left: -30px
        right: 40px