#masthead
  height: 100vh
<<<<<<< HEAD
  top: 0
  left: 0
  color: white
  background: url('img/desk.jpg') no-repeat fixed center / cover
  border: 20px solid white
  box-sizing: border-box
  +transition(all 300ms)

  @media (max-width: $screen-sm-min)
    border-width: 10px

  .content
    position: relative
    top: 50%
    left: 50%
    +transform(translate3d(-50%, -50%, 0))
    width: 380px
    text-align: left

    @media (max-width: $screen-sm-min)
      width: 300px

    @media (max-width: $screen-xs-min)
      width: 255px

    .text-1,
    .text-2
      +transition(all 300ms)
      @extend .text-uppercase
      letter-spacing: 0.05em

    .text-1
      @extend .text-heavy
      font-size: 5em
      line-height: 1em
      padding: 0 0 20px
      border-bottom: 1px solid white

      @media (max-width: $screen-sm-min)
        font-size: 3.5em

      @media (max-width: $screen-xs-min)
        font-size: 3em

    .text-2
      @extend .text-bold
      font-size: 1.7em
      color: rgba(white, 0.5)
      padding: 20px 0 0

      @media (max-width: $screen-sm-min)
        font-size: 1.4em

html.mobile
  #masthead
    background:
      attachment: scroll
=======
  max-height: 800px
  
  h1
    font-size: 3em
>>>>>>> redesign
