.presentation
  font-size: 24px

  .ul-styled
    li
      padding: 0 0 0 18px

      &:before
        top: calc((33px / 2) - 6px)
        width: 30px
        height: 12px

  img
    display: block
    width: auto
    height: auto
    max-width: 100%
    max-height: 100%
    margin: 0 auto

  .img-scroller
    position: relative
    width: 80%
    height: 80vh
    overflow: scroll
    margin: 0 auto
    border: solid $lt-grey
    border-width: 30px 1px 1px
    border-radius: 6px

    img
      width: 100%
      max-height: none
      transform: translate(0, 0)

  .fp-slidesNav
    bottom: 2px
    opacity: 0
    transform: translate(0, 10px)
    transition: all 400ms

    $fp-slidesNav-height: 10px

    ul
      display: flex
      flex-direction: row
      justify-content: space-between

      li
        width: auto
        height: $fp-slidesNav-height
        flex-grow: 1
        margin: 2px

        a
          span
            top: 0
            left: 0
            width: 100%
            height: $fp-slidesNav-height
            margin: 0
            border-radius: 0
            opacity: 0.1

          &.active,
          &:hover
            span
              width: 100%
              height: $fp-slidesNav-height
              margin: 0
              border-radius: 0
              opacity: 0.3

  .fp-controlArrow
    bottom: 20px
    top: auto
    margin: 0
    border: none
    width: 24px
    height: 28px
    transition: all 400ms

    &:after
      content: ""

    &.fp-prev
      left: calc(50% - 24px - 5px)

      &:after
        content: "←"

    &.fp-next
      right: calc(50% - 24px - 5px)

      &:after
        content: "→"

  .contact
    background: rgba(white, 0.1)

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 0
      height: 0
      border-top: 100px solid $dk-grey
      border-right: 100vw solid transparent

  .section
    &.active
      .fp-slidesNav
        opacity: 1
        transform: translate(0, 0)
        transition-delay: 1000ms

  .slide
    &.active
      .img-scroller
        img
          transform: translate(0, calc(-100% + 80vh - 30px))
          transition: all 10000ms linear
          transition-delay: 1000ms
