.presentation
  font-size: 24px

  .ul-styled
    li
      padding: 0 0 0 18px
      
      &:before
        top: calc((33px / 2) - 6px)
        width: 30px
        height: 12px

  .fp-slidesNav
    ul
      text-align: center
      opacity: 0.3

      li a.active
        span
          width: 8px
          height: 8px
          margin: -4px 0 0 -4px

  .fp-controlArrow
    bottom: 20px
    top: auto
    margin: 0
    border: none
    width: 24px
    height: 28px
    transition: all 400ms

    &:after
      content: ""

    &.fp-prev
      left: calc(50% - 24px - 5px)

      &:after
        content: "←"

    &.fp-next
      right: calc(50% - 24px - 5px)

      &:after
        content: "→"

  .puppy-break
    background: $xlt-grey

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 0
      height: 0
      border-top: 100px solid white
      border-right: 100vw solid transparent

    &:after
      content: ""
      position: absolute
      bottom: 0
      right: 0
      width: 0
      height: 0
      border-bottom: 100px solid white
      border-left: 100vw solid transparent

    .giphy-embed
      margin: 0 auto