#project-list
  .project-list-item
    display: block
    overflow: auto
    position: relative
    border-top: 1px solid black
    vertical-align: text-bottom

    &:last-of-type
      border-bottom: 1px solid black

    .project-name
      margin: 0 6px 0 0
      max-width: 60%

    .project-type
      font-size: 0.8em
      margin-top: 3px

    .project-year
      font-size: 0.8em
      margin-top: 2px

    &:before,
    &:after
      display: block
      position: absolute
      width: 200px
      right: 0
      +transition(all 400ms)

    &:before
      content: ""
      background: $primary
      top: 0
      height: 100%
      +transform(translate3d(0, 0, 0) scale(0, 1))
      +transform-origin(right center)

    &:after
      content: "→"
      color: white
      @extend .text-center
      font-size: 2em
      top: 50%
      +transform(translate3d(0, -50%, 0) scale(0, 1))
      +transform-origin(left center)

    &:hover
      &:before
        +transform(translate3d(0, 0, 0) scale(1, 1))

      &:after
        +transform(translate3d(0, -50%, 0) scale(1, 1))
        +transition-delay(200ms)

    &:active
      &:before,
      &:after
        +transform(translate3d(20px, 0, 0) scale(1, 1))
        +transition-delay(0ms)

    @media (max-width: $screen-sm-min)
      .project-name,
      .project-type,
      .project-year
        float: none

      &:before,
      &:after
        width: 100px

      &:before
        +transform(translate3d(0, 0, 0) scale(1, 1))

      &:after
        +transform(translate3d(0, -50%, 0) scale(1, 1))

    @media (max-width: $screen-xs-min)
      &:before,
      &:after
        width: 60px
        font-size: 1.4em