#project-list
  h3
    position: relative

    &:before
      content: ""
      position: absolute
      top: calc(50% - 1px)
      left: -120px
      width: 100px
      height: 2px
      background: $primary

  .project-list-item
    display: block
    border-bottom: 1px solid $lt-grey
    transition: all 300ms

    a
      font-size: 1.6em
      
      &:hover
        color: $primary