.project-view
  h1
    display: inline-block
    position: relative
    
    // &:after
    //   content: ""
    //   display: block
    //   position: absolute
    //   background: $primary
    //   top: 24px
    //   left: -600px
    //   right: -5px
    //   height: 12px
    //   z-index: -1

  .project-client
    // display: block
    letter-spacing: 0.5em

    &:hover
      color: $primary

  .project-role
    list-style-type: none
    margin: 0
    padding: 0

    li
      display: inline-block

  img
    width: 100%