#skills
  background: #fafafa

  .skills-container
    overflow: auto
    margin: 40px auto 0

    .tile
      width: calc((100% - 60px) / 3)
      float: left
      margin: 10px
      padding: 20px 40px
      background: white
      border: 1px solid rgba($dk-grey, 0.1)
      box-sizing: border-box