#skills
  background: $lt-grey

  .row
    margin-top: 50px

  .tile
    width: 100%
    padding: 20px 40px
    background: white
    border: 1px solid rgba($dk-grey, 0.1)
    box-sizing: border-box
    @extend .text-center
    +transition(all 600ms)

    i
      margin: 20px 0

  @media (max-width: $screen-sm-min)
    .col-sm-4
      margin-bottom: 40px

      &:last-of-type
        margin-bottom: 0