#work-slider
  padding: 0

  #slider
    position: relative

    $project-list: repassist meat-cuts shoppernova rupert-graves gauloises derma-maps
    =project-bg-colors
      @each $project in $project-list
        &##{$project}
          @extend .#{$project}

    .item
      height: 500px
      +project-bg-colors
      color: white
      position: relative

      .content-wrap
        height: 100%
        position: relative

      .image
        width: 60%
        height: 100%
        position: absolute
        left: 0
        right: 0

        img
          width: 100%
          position: absolute
          top: 50%
          right: 0
          +transform(translate3d(0, -50%, 0))

      .text
        position: absolute
        right: 0
        width: 30%
        top: 50%
        +transform(translate3d(0, -50%, 0))

      .btn
        width: 200px
        height: 50px
        @extend .display-box
        background: rgba(white, 0.2)
        border: 1px solid white
        +border-radius(5px)
        text-transform: uppercase
        letter-spacing: 0.1em
        +transition(all 300ms)

        &:hover
          background: rgba(white, 0.3)

      &#repassist
        .image
          img
            +transform(translate3d(0, -50%, 0) rotate(10deg))

  .owl-buttons
    .owl-next,
    .owl-prev
      width: 60px
      height: 60px
      background: rgba(white, 0.2)
      position: absolute
      top: 50%
      +transform(translate3d(0, -50%, 0))

      i
        color: white
        font-size: 2em
        position: absolute
        top: 50%
        left: 50%
        +transform(translate3d(-50%, -50%, 0))

    .owl-next
      right: 0

    .owl-prev
      left: 0