#work
  overflow: auto

  $project-list: repassist meat-cuts shoppernova rupert-graves gauloises derma-maps glenda-graff momo-brasserie xolair ken-khoo cosentyx
  =project-bg
    @each $project in $project-list
      &.#{$project}
        @extend .bg-#{$project}
        background: url("img/work-tiles/#{$project}.png") no-repeat center / 100%

  .content-wrap
    overflow: auto
    margin: 0 auto
    width: calc(100vw - 240px)

    @media screen and (max-width: 1600px)
      width: 100vw
    
  .tile
    width: calc((100vw - 240px) / 3)
    height: calc((100vw - 240px) / 3)
    float: left
    position: relative
    background-color: rgba($dk-grey, 0.01)
    box-sizing: border-box
    text-align: center
    +transition(all 700ms)
    +project-bg

    &:hover
      background-size: 110%

    &:active
      +transform(scale(0.99))

    @media screen and (max-width: 1600px)
      width: calc(100vw / 3)
      height: calc(100vw / 3)

    @media screen and (max-width: 1200px)
      width: 50%
      height: 400px

      &:last-of-type
        width: 100%

    @media screen and (max-width: 600px)
      width: 100%
      background-size: cover !important

    .overlay
      width: calc(100% - 20px)
      height: calc(100% - 20px)
      position: absolute
      top: 10px
      left: 10px
      background-color: rgba(black, 0.5)
      color: white
      @extend .display-box
      +transition(all 500ms)
      opacity: 0

      .overlay-content
        max-width: 80%

        @media screen and (max-width: 600px)
          max-width: 90%

      h3
        margin: 0
        font-size: 2em

        &:after
          display: none

        @media screen and (max-width: 1600px)
          font-size: 1.8em

        span
          display: inline-block
          min-width: 10px
          opacity: 0
          +transition(all 400ms)
          +transform(translate3d(0, 100%, 0) scale(0.9))

      p
        margin: 5px auto 10px
        opacity: 0
        // font-size: 1em
        line-height: 1.2em
        +transform(translate3d(0, 20px, 0) scale(0.98))
        +transition(all 400ms)

        @media screen and (max-width: 1400px)
          font-size: 1.2em

      .circle-btn
        width: 50px
        height: 50px
        border: 1px solid white
        +border-radius(50%)
        @extend .display-box
        margin: 20px auto 0
        opacity: 0
        +transform(translate3d(0, 20px, 0) scale(0.98))
        +transition(all 400ms)

        &:hover
          background: rgba(white, 0.2)
          +transition-delay(0ms !important)

    &:hover
      .overlay
        opacity: 1

        h3 span,
        p,
        .circle-btn
          opacity: 1
          +transform(translate3d(0, 0, 0) scale(1))

html.tablet,
html.mobile
  .tile
    .overlay,
    h3 span,
    p,
    .circle-btn
      opacity: 1 !important
      +transform(translate3d(0, 0, 0) scale(1) !important)