body
  background: white
  margin: 0
  padding: 0
  @extend .lato
  background:
    image: url('img/header-bg.jpg')
    position: center center
    size: cover
    repeat: no-repeat
    attachment: fixed

  img
    border: 0

  .content-wrap
    width: 1200px
    margin: 0 auto

    @media screen and (max-width: 1200px)
      width: 100%

  #content
    z-index: 10

  section
    padding: 120px 0
    background: white
    z-index: 20
    position: relative

    // &:nth-of-type(2)
    //   margin-top: 100vh

    .text-block
      width: 80%
      margin: 0 auto
      overflow: auto

      .left
        float: left
        text-align: right
        width: 30%

      .right
        float: right
        width: 65%

html.tablet
  body
    background: none




// ====================
// common styles
// ====================

.display-box
  display: box
  box-pack: center
  box-align: center

  display: -ms-box
  -ms-box-pack: center
  -ms-box-align: center

  display: -moz-box
  -moz-box-pack: center
  -moz-box-align: center

  display: -webkit-box
  -webkit-box-pack: center
  -webkit-box-align: center

.clearfix
  clear: both

// turn wow animations off on mobile
html.mobile, html.tablet
  .wow
    visibility: visible !important
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important