body
  background: white
  color: black
  margin: 0
  padding: 0
  font-family: 'Lato'
  font-size: 14px

  *
    box-sizing: border-box

  img
    border: 0

.content-wrap
  width: 90%
  margin: 0 auto

  @media (min-width: $screen-xs-min)
    width: 85%

  @media (min-width: $screen-lg-min)
    width: 1000px

#content
  z-index: 10

section
  position: relative
  +transition(all 300ms)

hr
  outline: none
  border: none
  background: $lt-grey
  height: 1px

::selection
  background: $primary
  color: white

::-moz-selection
  background: $primary
  color: white


// ====================
// common styles
// ====================

.pull-left
  float: left

.pull-right
  float: right

.display-box
  display: flex
  align-items: center
  justify-content: center


@for $i from 1 through 30
  .delay-#{$i * 50}
    transition-delay: $i * 50ms !important
    animation-delay: $i * 50ms !important


.hidden-desktop
  display: block

  @media (min-width: $screen-xs-min)
    display: none

.hidden-mobile
  display: none

  @media (min-width: $screen-xs-min)
    display: block