body
  overflow-x: hidden

  &:after
    background: black
    content: ""
    height: 100%
    width: 240px
    position: fixed
    top: 0
    right: 0
    overflow: hidden
    visibility: hidden
    z-index: 99
    +transform(translate3d(240px, 0, 0))
    +transition(all 300ms)

  &.open
    overflow: hidden

    .b-container
      +transform(translate3d(-240px, 0, 0))

  &.open:after
    visibility: visible
    +transform(translate3d(0, 0, 0))

.b-nav
  position: fixed
  z-index: 100
  width: 240px
  height: 100%
  top: 0
  right: 0
  padding: 46px
  overflow: scroll
  +transform(translate3d(240px, 0, 0))
  +transition(all 300ms)
  visibility: hidden

  ul
    padding: 0
    margin: 0
    width: 100%

  li 
    list-style-type: none
    width: 100%
    opacity: 0
    margin: 0 0 20px 0
    pointer-events: none
    +transition(all 300ms)

    .b-link
      border-bottom: rgba(white, 0) solid 1px
      color: white
      padding-bottom: 2px
      font-size: 0.8em
      @extend .text-uppercase
      +transition(all 300ms)

      &:hover,
      &--active
        border-bottom: white solid 1px

  &.open
    visibility: visible
    +transform(translate3d(0, 0, 0))

    li
      pointer-events: all
      opacity: 1

.b-container
  position: fixed
  top: 30px
  right: 30px
  z-index: 100
  +transform(translate3d(0, 0, 0))
  +transition(all 300ms)

  .b-menu
    cursor: pointer
    display: inline-block
    padding: 16px
    z-index: 100
    width: 58px
    height: 58px
    +transition(all 300ms)

  .b-bun
    background: black
    position: relative
    height: 2px
    width: 26px
    +transition(all 300ms)

    &--top
      top: 0

    &--mid
      top: 4px

    &--bottom
      top: 8px

  &.open
    .b-bun--top
      top: 10px
      transform: rotate(45deg)
    
    .b-bun--mid
      opacity: 0

    .b-bun--bottom
      top: 6px
      transform: rotate(-45deg)