body
  overflow-x: hidden

  &:after
    background: black
    content: ""
    height: 100%
    width: 240px
    position: fixed
    top: 0
    right: 0
    overflow: hidden
    visibility: hidden
    z-index: 99
    +transform(translate3d(240px, 0, 0))
    +transition(all 300ms)

  &.open
    overflow: hidden

    .b-container
      +transform(translate3d(-240px, 0, 0))

    #masthead,
    #project-list,
    #project,
    footer
      // +filter(blur(5px))
      opacity: 0.4
      pointer-events: none

    // #masthead .content-wrap,
    // #project,
    // .project-list-item
    //   +transform(translate3d(-10%, 0, 0) scale(0.9))

  &.open:after
    visibility: visible
    +transform(translate3d(0, 0, 0))

.b-nav
  position: fixed
  z-index: 100
  width: 240px
  height: 100%
  top: 0
  right: 0
  padding: 46px
  overflow: scroll
  +transform(translate3d(240px, 0, 0))
  +transition(all 300ms)
  visibility: hidden

  ul
    padding: 0
    margin: 0
    width: 100%

  li 
    list-style-type: none
    width: 100%
    opacity: 0
    margin: 0 0 20px 0
    pointer-events: none
    +transition(all 300ms)

    .b-link
      color: rgba(white, 0.5)
      padding-bottom: 2px
      font-size: 0.8em
      @extend .text-bold
      @extend .text-uppercase
      letter-spacing: 0.2em

      &:hover
        color: white

  &.open
    visibility: visible
    +transform(translate3d(0, 0, 0))

    li
      pointer-events: all
      opacity: 1

.b-container
  position: fixed
  top: 30px
  right: 30px
  z-index: 100
  +transform(translate3d(0, 0, 0))
  +transition(all 300ms)

  @media (max-width: $screen-sm-min)
    top: 10px
    right: 10px

  .b-menu
    cursor: pointer
    display: inline-block
    padding: 16px
    z-index: 100
    width: 58px
    height: 58px
    +transition(all 300ms)

  .b-bun
    background: $primary
    position: relative
    height: 2px
    width: 26px
    +transition(all 300ms)

    &--top
      top: 0
      +transform(rotate(0deg) scale(1, 1) translate3d(0, 0, 0))

    &--mid
      top: 4px
      +transform(rotate(0deg) scale(1, 1) translate3d(0, 0, 0))

    &--bottom
      top: 8px
      +transform(rotate(0deg) scale(1, 1) translate3d(0, 0, 0))

  &:hover
    .b-bun--top
      +transform(rotate(0deg) scale(1, 1) translate3d(0, -2px, 0))

    .b-bun--bottom
      +transform(rotate(0deg) scale(1, 1) translate3d(0, 2px, 0))

  &.open
    .b-menu
      +transform(translate3d(-20px, 0, 0))

    .b-bun--top
      +transform(translate3d(30%, 150%, 0) rotate(35deg) scale(0.4, 1))

    .b-bun--mid
      +transform(rotate(0deg) scale(1, 1) translate3d(0, 0, 0))

    .b-bun--bottom
      +transform(translate3d(30%, -150%, 0) rotate(-35deg) scale(0.4, 1))

body.index
  .menu-home
    display: none