// ====================
// BACKGROUNDS & BORDERS
// ====================
.bg-white
  background: white

.bg-lt-grey
  background: $lt-grey

.bg-dk-grey
  background: $dk-grey
  color: white

.bg-xdk-grey
  background: darken($dk-grey, 3)
  color: white

hr
  outline: none
  border: none
  background: $lt-grey
  height: 1px
  margin: $spacer-xl 0

  @media (min-width: $screen-sm-min)
    margin: 2 * $spacer-xl 0

.border
  border: 1px solid $lt-grey

@each $side in top, right, bottom, left
  .border-#{$side}
    border-#{$side}: 1px solid $lt-grey


// ====================
// HIDERS
// ====================
.hidden-desktop
  display: block

  @media (min-width: $screen-xs-min)
    display: none

.hidden-mobile
  display: none

  @media (min-width: $screen-xs-min)
    display: block


// ====================
// TRANSITIONS
// ====================
@for $i from 1 through 30
  .delay-#{$i * 50}
    transition-delay: $i * 50ms !important
    animation-delay: $i * 50ms !important
