hr
  outline: none
  border: none
  background: rgba($primary, 0.1)
  height: 2px
  margin: $spacer-xl 0

  @media (min-width: $screen-sm-min)
    margin: 2 * $spacer-xl 0

.border
  border: 1px solid $lt-grey

@each $side in top, right, bottom, left
  .border-#{$side}
    border-#{$side}: 1px solid $lt-grey
