.contact
  @extend .display-box

  .content
    text-align: center

    .detail
      font-size: 1.6em
      display: block
      margin: 5px auto
      font-weight: 500

      &:first-of-type
        margin-top: 30px

      .country
        font-size: 0.5em
        text-transform: uppercase
        color: rgba(white, 0.6)
        margin-right: 3px
        font-weight: 500
    
    .socials
      text-align: center
      margin: 30px auto 0

      a
        // @extend .display-box
        display: inline-block
        position: relative
        width: 70px
        height: 70px
        // float: left
        margin: 0 5px
        +border-radius(50%)
        +transition(all 600ms)
        +transform(translate3d(0, -20px, 0))
        opacity: 0

        i
          font-size: 2em
          position: absolute
          top: 50%
          left: 50%
          +transform(translate3d(-50%, -50%, 0))
          +transition(all 300ms)

        &:hover
          i
            +transform(translate3d(-50%, -65%, 0))

  .footer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    font-size: 0.7em
    text-align: center
    color: rgba(white, 0.5)

  &.active
    .content
      .socials
        a
          +transform(translate3d(0, 0, 0))
          opacity: 1

          @for $i from 1 through 6
            &:nth-of-type(#{$i})
              +transition-delay(600ms + (100ms * $i))