@media (prefers-color-scheme: dark)
  body
    background: $xdk-grey
    color: white

  .link-highlight:before
    background: $primary

  hr
    background: rgba($dk-grey, 0.2)

  .link-squiggle .squiggle
    stroke: darken($primary, 10%)
