.pacifico
  font-family: 'Pacifico'

h1
  margin: 0
  font:
    size: 1.8em
    weight: 500
  text-transform: uppercase
  letter-spacing: 0.1em

h2
  text:
    transform: uppercase
    align: center
  font:
    size: 1.6em
    weight: 500
  letter-spacing: 0.1em
  position: relative

  &:after
    content: ''
    position: absolute
    display: block
    bottom: -15px
    background: $primary
    width: 40px
    height: 5px
    left: 50%
    +transform(translate3d(-50%, 0, 0))

.text-block
  h2
    text-align: right

    &:after
      right: 0
      +transform(translate3d(0, 0, 0))
      left: auto

h3
  margin: 0
  text:
    transform: uppercase
  font:
    size: 1.4em
    weight: 500
  letter-spacing: 0.1em
  position: relative
  margin-bottom: 30px

  &:after
    content: ''
    position: absolute
    display: block
    left: 0
    bottom: -12px
    background: white
    width: 30px
    height: 3px

p
  font-size: 1.2em
  font-weight: 300

a
  text-decoration: none
  color: inherit