@font-face
  font-family: 'Source Sans'
  src: url('fonts/SourceSansVariable-Roman.otf') format('opentype')
  font-weight: 1 999

@font-face
  font-family: 'Source Serif'
  src: url('fonts/SourceSerifVariable-Roman.otf') format('opentype')
  font-weight: 1 999

@font-face
  font-family: 'Source Code'
  src: url('fonts/SourceCodeVariable-Roman.otf') format('opentype')
  font-weight: 1 999
