// FONTS
.pacifico
  font-family: 'Pacifico', serif

.lato
  font-family: 'lato', sans-serif


// ALIGNMENT
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify


// WEIGHT
.text-normal
  font-weight: 300

.text-bold
  font-weight: 700

.text-heavy
  font-weight: 900

h1, h2, h3
  @extend .text-heavy

h4
  @extend .text-bold


// TRANSFORMATION
.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

h1, h2, h3, h4
  @extend .text-uppercase


// MARGINS
h1, h2, h3, h4, ul, ol, p, li
  margin: 0 0 0.5em


// LETTER SPACING
h1, h2, h3, h4
  letter-spacing: 0.1em


// SIZE
h1
  font-size: 1.8em

h2
  position: relative
  font-size: 1.6em

  &:after
    content: ''
    position: absolute
    display: block
    bottom: -15px
    background: $primary
    width: 40px
    height: 5px
    left: 50%
    +transform(translate3d(-50%, 0, 0))

  &.text-right
    &:after
      right: 0
      +transform(translate3d(0, 0, 0))
      left: auto

h3
  position: relative
  font-size: 1.4em

h4
  font-size: 1em

p,
li
  font-size: 1.2em
  line-height: 1.5em
  @extend .text-normal

a
  text-decoration: none
  color: inherit
  font-size: inherit

  &.standard
    border-bottom: 1px solid $dk-grey
    +transition(all 300ms)

    &:hover
      color: $primary
      border-color: $primary