footer
  a
    &.linkedin:before,
    &.linkedin:after
      background: rgba($linkedin, 0.6)

    &.facebook:before,
    &.facebook:after
      background: rgba($facebook, 0.6)

    &.twitter:before,
    &.twitter:after
      background: rgba($twitter, 0.6)

    &.instagram:before,
    &.instagram:after
      background: rgba($instagram, 0.6)

    &.tumblr:before,
    &.tumblr:after
      background: rgba($tumblr, 0.6)

    &.dribbble:before,
    &.dribbble:after
      background: rgba($dribbble, 0.6)

    &.github:before,
    &.github:after
      background: rgba($github, 0.6)

  p
    color: rgba(white, 0.5)

  .block-ver-xl
    padding-bottom: 30px

    @media (min-width: $screen-sm-min)
      padding-bottom: 120px