footer
  .link-highlight
    display: inline-block
    margin-right: $spacer-md
    margin-bottom: $spacer-md

  .text-copyright
    font-family: $sans-serif
    @extend .text-grey
    @extend .text-smaller
