footer
  background: $coral
  color: white
  padding: 50px 0 10px
  margin-top: -50px

  .content-wrap
    .copy
      padding: 5px 0
      font-size: 0.8em
      text-align: center
      line-height: 1.5em