.section
  position: relative

  .slide
    position: relative

  .fa-angle-down
    position: absolute
    bottom: 50px
    left: 50%
    +transform(translate3d(-50%, 0, 0))
    font-size: 3em

  .fa-angle-left
    position: absolute
    left: 50px
    top: 50%
    +transform(translate3d(0, -50%, 0))
    font-size: 3em
    display: none

  .fa-angle-right
    position: absolute
    right: 50px
    top: 50%
    +transform(translate3d(0, -50%, 0))
    font-size: 3em
    display: none

  &.dark
    color: white

  &.light
    color: $navy