// ALIGNMENT
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify


// WEIGHT
.text-normal
  font-family: 'montserratlight'

.text-bold
  font-family: 'montserratbold'

.text-heavy
  font-family: 'montserratblack'


// TRANSFORMATION
.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize


// MARGINS
h1, h2, h3, h4, ul, ol, p, li
  margin: 0 0 0.5em

.text-tight
  margin: 0

.text-spaced
  letter-spacing: 0.1em


// STYLES
h1
  font-size: 3.4em

p
  line-height: 1.3em

a
  text-decoration: none
  color: inherit
  +transition(all 300ms)

  &.underlined
    border-bottom: 1px solid black

    &:hover
      color: $primary
      border-color: $primary