.sans-serif
  font-family: 'Lato'

p, li, a
  @extend .sans-serif

.serif
  font-family: 'Abril Fatface'
  font-weight: normal

h1, h2, h3, h4
  @extend .serif


// ALIGNMENT
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify


// WEIGHT
.text-normal
  // font-family: 'montserratlight'
  font-weight: 300

.text-bold
  // font-family: 'montserratbold'
  font-weight:  700

.text-heavy
  // font-family: 'montserratblack'
  font-weight: 900

p, li
  @extend .text-normal


// TRANSFORMATION
.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize


// MARGINS
h1, h2, h3, h4, ul, ol, p, li
  margin: 0 0 15px

.text-tight
  margin: 0

.text-spaced
  letter-spacing: 0.1em

.text-xspaced
  letter-spacing: 0.5em


// STYLES
.text-smaller
  font-size: 0.8em

.text-grey
  color: $md-grey

// h1
//   font-size: 3.4em

// h2
//   font-size: 2em

a
  text-decoration: none
  color: inherit
  line-height: 1.4em
  +transition(all 300ms)

  &.underlined
    display: inline-block
    position: relative
    // @extend .text-bold
    z-index: 1
    text-shadow: 0 1px 0 white

    &:after
      content: ""
      display: block
      width: 100%
      height: 1px
      position: absolute
      bottom: 1px
      left: 0
      background: $dk-grey
      +transform(scale(1, 1))
      +transform-origin(center top)
      +transition(all 300ms)
      z-index: -1

    &:hover
      color: $primary
      
      &:after
        background: $primary
        +transform(scale(1, 3))

  &.highlighted
    display: inline-block
    position: relative
    @extend .text-bold

    &:after
      content: ""
      display: block
      position: absolute
      background: rgba($primary, 0.5)
      top: 13px
      left: 0
      right: 0
      height: 8px
      border-radius: 1px
      z-index: -1
      transition: all 400ms
      transform: translate3d(0, 0, 0) scale(0, 1) skewX(-15deg)
      transform-origin: left center

    &:hover
      &:after
        transform: translate3d(0, 0, 0) scale(1, 1) skewX(-15deg)