.sans-serif, p, li, a, h4
  font-family: 'Lato'
  line-height: 1.4em

.serif, h1, h2, h3
  font-family: 'Playfair Display'
  font-weight: 900
  line-height: 1.2em


// ALIGNMENT
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify


// WEIGHT
.text-normal, p, li
  font-weight: 300

.text-bold
  font-weight:  400

.text-heavy, h4
  font-weight: 900


// TRANSFORMATION
.text-lowercase
  text-transform: lowercase

.text-uppercase, h4
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize


// MARGINS
h1, h2, h3, h4, ul, ol, p, li
  margin: 0 0 0.5em

.text-tight
  margin: 0


// SIZES
h1
  font-size: 2.6em

h2
  font-size: 2.2em

h3
  font-size: 1.2em

h4
  font-size: 0.7em


// STYLES
.text-spaced, h4
  letter-spacing: 0.1em

.text-xspaced
  letter-spacing: 0.5em

.text-smaller
  font-size: 0.6em

.text-bigger
  font-size: 1.2em

.text-grey
  color: $md-grey

.text-white
  color: white


// LINKS
a
  text-decoration: none
  color: inherit
  line-height: 1.4em
  transition: all 300ms

  &.highlighted
    display: inline-block
    position: relative
    @extend .text-bold

    &:after
      content: ""
      display: block
      position: absolute
      background: rgba($primary, 0.5)
      top: 58%
      left: -2px
      right: -2px
      height: 10px
      border-radius: 1px
      z-index: -1
      transition: all 400ms
      transform: translate3d(0, 0, 0) scale(0, 1) skewX(-15deg)
      transform-origin: left center

    &:hover
      &:after
        transform: translate3d(0, 0, 0) scale(1, 1) skewX(-15deg)