// ====================
// SCREEN SIZES
// ====================

$screen-xs-min: 480px !default
$screen-sm-min: 768px !default
$screen-md-min: 1000px !default
$screen-lg-min: 1200px
$screen-xl-min: 1500px

// So media queries dont overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default
$screen-sm-max: ($screen-md-min - 1) !default
$screen-md-max: ($screen-lg-min - 1) !default


// ====================
// COLORS
// ====================

$white: #fff
$lt-grey: #eee
$md-grey: #bbb
$dk-grey: #999
$xdk-grey: #262626
$black: #000
$primary: #f7cac9

// SOCIAL MEDIA
$facebook: #3b5998
$twitter: #55acee
$instagram: #e12f67
$linkedin: #0077b5
$dribbble: #ea4c89
$github: #0366d6
$tumblr: #44546b
$pinterest: #cc2127
$codepen: #30a9f4

// PROJECTS
$repassist: #fcaf17
$shoppernova: #ec1c24
$field-intouch: #0066cc
$rupert-graves: #000
$momo-brasserie: #4a0e0e
$glenda-graff: #ceb78c
$ken-khoo: #000
$meat-cuts: #111
$derma-maps: #d60036
$xolair: #650554
$cosentyx: #e0005b
$jr-cigars: #db0f1f
$wgsn-yellow: #f8bd34
$wgsn-orange: #FF671f
$wgsn-blue: #4e87a0


// ====================
// SPACERS
// ====================

$spacer-xs: 4px
$spacer-sm: 8px
$spacer-smd: 12px
$spacer-md: 16px
$spacer-mlg: 24px
$spacer-lg: 32px
$spacer-xl: 48px


// ====================
// FONTS
// ====================

$sans-serif: 'Source Sans', sans-serif
$serif: 'Source Serif', serif
$monospace: 'Source Code', monospace
