$lt-grey: #f9f9f9
$md-grey: #555
$dk-grey: #222
$primary: #f1c40f
// $primary: #ec008c

// PROJECTS
$repassist: #fcaf17
$shoppernova: #ec1c24
$field-intouch: #0066cc
$rupert-graves: #000
$momo-brasserie: #4a0e0e
$glenda-graff: #ceb78c
$ken-khoo: #000
$meat-cuts: #111
$derma-maps: #d60036
$xolair: #650554
$cosentyx: #e0005b

.bg-repassist
  background-color: $repassist

.bg-shoppernova
  background-color: $shoppernova

.bg-field-intouch
  background-color: $field-intouch

.bg-rupert-graves
  background-color: $rupert-graves

.bg-momo-brasserie
  background-color: $momo-brasserie

.bg-glenda-graff
  background-color: $glenda-graff

.bg-ken-khoo
  background-color: $ken-khoo

.bg-meat-cuts
  background-color: $meat-cuts

.bg-derma-maps
  background-color: $derma-maps

.bg-xolair
  background-color: $xolair

.bg-cosentyx
  background-color: $cosentyx

// SOCIAL MEDIA
$facebook: #3b5998
$twitter: #55acee
$instagram: #3f729b
$linkedin: #0077b5
$dribbble: #ea4c89
$github: #f5f5f5
$tumblr: #44546b
$pinterest: #cc2127

$project-list: repassist meat-cuts shoppernova rupert-graves field-intouch derma-maps glenda-graff momo-brasserie xolair ken-khoo cosentyx