// ====================
// Screen sizes
// ====================

// Extra small screen / phone
$screen-xs-min: 480px !default

// Small screen / tablet
$screen-sm-min: 768px !default

// Medium screen / desktop
$screen-md-min: 1000px !default

// Large screen / wide desktop
$screen-lg-min: 1200px

// Large screen / extra wide desktop
$screen-xl-min: 1500px

// So media queries dont overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default
$screen-sm-max: ($screen-md-min - 1) !default
$screen-md-max: ($screen-lg-min - 1) !default


// ====================
// Colors
// ====================

$xlt-grey: #fafafa
$lt-grey: #eee
$md-grey: #999
$dk-grey: #222
$primary: #ee2a7b
// $primary: #f1c40f

// social media
$facebook: #3b5998
$twitter: #55acee
$instagram: #e12f67
$linkedin: #0077b5
$dribbble: #ea4c89
$github: #0366d6
$tumblr: #44546b
$pinterest: #cc2127
$codepen: #30a9f4

// projects
$repassist: #fcaf17
$shoppernova: #ec1c24
$field-intouch: #0066cc
$rupert-graves: #000
$momo-brasserie: #4a0e0e
$glenda-graff: #ceb78c
$ken-khoo: #000
$meat-cuts: #111
$derma-maps: #d60036
$xolair: #650554
$cosentyx: #e0005b
$jr-cigars: #db0f1f
$wgsn-yellow: #f8bd34
$wgsn-orange: #FF671f
$wgsn-blue: #4e87a0
