extends layout

block append vars
  - bodyclass = 'index'

block content
  section#intro.block-ver-xl
    .content-wrap
      .row
        .col-xs-12
          p.text-bigger
            | Hi there! I'm currently designing editorial tools at 
            a.link-highlight(href="http://wsj.com", target="_blank") The Wall Street Journal
            | . Previously, I designed products and design systems at   
            a.link-highlight(href="http://wework.com", target="_blank") WeWork
            |  and 
            a.link-highlight(href="http://wgsn.com", target="_blank") WGSN
            | .
          p.text-bigger I love beautiful products, design systems and well-crafted CSS.
  
  include project-list
