extends layout.pug
include partials/squiggles

block append vars
  - bodyclass = 'index'

block content
  section.block-top-lg.block-bot-xl
    .row
      .col-xs-12.col-lg-10
        h1.masthead--intro
          | Amelia Lewis is a product designer currently working on design systems at 
          .link-squiggle
            a(href="http://squarespace.com", target="_blank") Squarespace
            +squiggle('squarespace')
          | .
  
  