extends layout.pug
include partials/squiggles

block append vars
  - bodyclass = 'home'

block content
  section.block-ver-lg
    .row
      .col-xs-12.col-lg-10
        h1.home--title Hey, I'm Amelia —
        h1.home--title
          | I'm a product designer based in NYC, currently working on design systems at 
          .link-squiggle
            a(href="http://squarespace.com", target="_blank") Squarespace
            +squiggle('squarespace')
          | .
  
  