extends layout

block content
  #fullpage
    section.section.masthead.dark
      .content
        h1 Amelia Lewis
        p.description UI + UX Designer
      i.fa.fa-angle-down

    section.section.light
      h2 About

    section.section.light
      .slide
        h2 Slide 1
        i.fa.fa-angle-left
        i.fa.fa-angle-right
      .slide
        h2 Slide 2
        i.fa.fa-angle-left
        i.fa.fa-angle-right
      .slide
        h2 Slide 3
        i.fa.fa-angle-left
        i.fa.fa-angle-right
      .slide
        h2 Slide 4
        i.fa.fa-angle-left
        i.fa.fa-angle-right

    section.section.dark
      h2 Contact