extends layout

block append vars
  - bodyclass = 'index'

block content
  section#masthead.block-ver-lg
    .content-wrap
      .row
        .col-xs-12
          .masthead-intro
            h1 Hi!
            p.text-bigger
              | I'm Amelia Lewis. I'm a product designer at 
              a.link-highlight.link-highlight-wsj(href="http://wsj.com", target="_blank") The Wall Street Journal
              | , previously  
              a.link-highlight.link-highlight-wework(href="http://wework.com", target="_blank") WeWork
              |  and 
              a.link-highlight.link-highlight-wgsn(href="http://wgsn.com", target="_blank") WGSN
              | .
            p.text-bigger I love beautiful products, design systems and well-crafted CSS.
            br
            // p: a.link-highlight(href="/projects") Projects →
