extends layout

block content
  section#masthead
    .content
      .text.text-2 UX/UI Designer
      .text.text-1 Amelia Lewis

  section#about
    include partials/about

  section#skills
    include partials/skills

  section#work-slider
    include partials/work-slider

  //- section#work
  //-   include partials/work

  //- section#clients
  //-   include partials/clients

  //- section#contact
  //-   include partials/contact