extends layout

block content
  section.section.masthead.dark

  section.section.light
    h2 About

  //- section.section.work.light
  //-   include projects/glenda-graff
  //-   include projects/repassist
  //-   include projects/meat-cuts
  //-   include projects/rupert-graves
  //-   include projects/ken-khoo
  //-   include projects/momo-brasserie
  //-   include projects/blumen-art

  //- section.section.contact.dark
  //-   .content
  //-     h2.pacifico Say hi!
  //-     p If you want to work together or find out more about any of my projects, I'd love to hear from you.
  //-     a(href='callto:61409745111').detail
  //-       span.country au
  //-       |  +61 409 745 111
  //-     a(href='callto:16462447514').detail
  //-       span.country us
  //-       |  +1 (646) 244-7514
  //-     a(href='mailto:amelialewis01@gmail.com').detail amelialewis01@gmail.com

  //-     .socials
  //-       a(href='https://www.facebook.com/lewis.amelia', target='_blank')
  //-         i.fa.fa-facebook
  //-       a(href='https://twitter.com/Amelia_Lewis', target='_blank')
  //-         i.fa.fa-twitter
  //-       a(href='http://instagram.com/amelia_lewis', target='_blank')
  //-         i.fa.fa-instagram
  //-       a(href='http://www.linkedin.com/pub/amelia-lewis/44/672/9a1', target='_blank')
  //-         i.fa.fa-linkedin
  //-       a(href='http://dribbble.com/Amelia_Lewis', target='_blank')
  //-         i.fa.fa-dribbble
  //-       a(href='http://meelz-on-wheels.tumblr.com/', target='_blank')
  //-         i.fa.fa-tumblr