extends layout

block append vars
  - bodyclass = 'index'

block content
  section#masthead.block-ver-xl
    .grey-box
    //- .pink-box
    .desc
      h1.text-heavy
        | Amelia
        br
        | Lewis
      .block-hor-xl
        p.text-uppercase.text-bold UX/UI Designer
        p.text-uppercase Currently working at WGSN in New York City.

  section#project-list.block-bot-xl
    include partials/project-list