extends layout.pug

block append vars
  - bodyclass = 'index'

block content
  section.block-ver-xl
    .content-wrap
      .row
        .col-xs-12
          h1
            | Amelia Lewis is a product designer currently working on design systems at 
            a.link-highlight(href="http://squarespace.com", target="_blank") Squarespace
            | .
  
  include partials/project-list.pug
