extends layout

block content
  section#masthead
    .content
      .text.text-1 Hello! I'm
      .text.text-2 Amelia Lewis
      .text.text-3 Interaction Designer

  section#about
    include partials/about

  section#skills
    include partials/skills

  section#work-slider
    include partials/work-slider

  //- section#clients
  //-   include partials/clients

  section#contact
    include partials/contact