extends layout

block content
  section.intro.coral
    .text-container
      p.hello Hello, I'm
      h1 Amelia Lewis
      h3 ui + ux // designer + developer

  section.skills.white
    .content-wrap
      //- h2 what i do
      .skill.art-direction.wow.fadeIn(data-wow-delay='0.3s')
        .img
        p art direction
      .skill.ux-design.wow.fadeIn(data-wow-delay='0.6s')
        .img
        p ux design
      .skill.interface-design.wow.fadeIn(data-wow-delay='0.9s')
        .img
        p interface design
      .skill.front-end-dev.wow.fadeIn(data-wow-delay='1.2s')
        .img
        p front-end dev

  section.projects.grey
    .content-wrap
      h2 projects

      .extendradio.project.wow.fadeIn(data-wow-delay='0.6s')
        .text-container
          .content
            p.project-type website
            h3 extendradio
            ul.role
              li ui + ux design
              li development
            p.description A website for an app platform that allows radio stations to easily expand into mobile marketing.
            a.button(href='http://kenkhoo.net/', target='_blank') visit site
              i.fa.fa-angle-double-right
        .img-container

      .ken-khoo.project.wow.fadeIn(data-wow-delay='0.6s')
        .text-container
          .content
            p.project-type website
            h3 ken khoo
            ul.role
              li ui + ux design
              li development
            p.description A portfolio site for a friend.
            a.button(href='http://kenkhoo.net/', target='_blank') visit site
              i.fa.fa-angle-double-right
        .img-container

      .meat-cuts.project.wow.fadeIn(data-wow-delay='0.6s')
        .text-container
          .content
            p.project-type mobile app (web)
            h3 meat cuts
            ul.role
              li ui + ux design
              li front-end development
            p.description An app for MLA to help amateur foodies learn all about different cuts of meat and how best to cook them.
            a.button(href='http://kenkhoo.net/', target='_blank') visit site
              i.fa.fa-angle-double-right
        .img-container

      .shoppernova.project.wow.fadeIn(data-wow-delay='0.6s')
        .text-container
          .content
            p.project-type mobile app (ios)
            h3 shoppernova
            ul.role
              li graphic design
              li email newsletters
            p.description A deals app in association with Nova FM. I produce the artwork for all the content, as well as email newsletters and design changes within the app.
            a.button(href='http://kenkhoo.net/', target='_blank') visit site
              i.fa.fa-angle-double-right
        .img-container

      .micomms.project.wow.fadeIn(data-wow-delay='0.6s')
        .text-container
          .content
            p.project-type website
            h3 micomms
            ul.role
              li ui design
              li front-end development
            p.description An internal communications solution for Novartis.
            a.button(href='http://kenkhoo.net/', target='_blank') visit site
              i.fa.fa-angle-double-right
        .img-container

      .glenda-graff.project.wow.fadeIn(data-wow-delay='0.6s')
        .text-container
          .content
            p.project-type website
            h3 glenda graff
            ul.role
              li ui + ux design
              li development
            p.description A website for an event planner based in Sydney's Eastern Suburbs.
            a.button(href='http://kenkhoo.net/', target='_blank') visit site
              i.fa.fa-angle-double-right
        .img-container

      .momo.project.wow.fadeIn(data-wow-delay='0.6s')
        .text-container
          .content
            p.project-type website
            h3 momo brasserie
            ul.role
              li ui + ux design
              li development
            p.description A redesign and rebuild of the website for Sydney CBD restaurant, Momo Brasserie.
            a.button(href='http://kenkhoo.net/', target='_blank') visit site
              i.fa.fa-angle-double-right
        .img-container