doctype 5
html(lang="en")
	head
		title Amelia Lewis
		link(type='text/css', rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/font/font-awesome/css/font-awesome.min.css')
		link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Muli:300|Montserrat:700')
		link(type='text/css', rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')

	body
		section.header
			a(href='index.html')
				h1 Amelia Lewis

			div.social
				a(href='https://www.facebook.com/lewis.amelia', target='_blank')
					i.icon-facebook
				a(href='https://twitter.com/Amelia_Lewis', target='_blank')
					i.icon-twitter
				a(href='http://instagram.com/amelia_lewis', target='_blank')
					i.icon-instagram
				a(href='http://pinterest.com/lewisamelia/', target='_blank')
					i.icon-pinterest
				a(href='http://meelz-on-wheels.tumblr.com/', target='_blank')
					i.icon-tumblr
				a(href='http://www.linkedin.com/pub/amelia-lewis/44/672/9a1', target='_blank')
					i.icon-linkedin
				a(href='mailto:amelialewis01@gmail.com')
					i.icon-envelope-alt

		section.content
			h2 Little Boxes

			div#description
				p We made some boxes that were little

			