extends layout

block append vars
  - bodyclass = 'presentation'

block prepend title
  | #{ page.title + " + "}

block content
  section#fullpage
    .section
      .content-wrap
        // p.text-smaller.text-grey= page.metadata.date
        h1 Hey 
          span= page.metadata.title
          | , 
          br
          | I'm Amelia Lewis 👩🏻‍💻
        p I'm a product designer and I want to work with you!
    
    // Some things about me:
    .section
      .content-wrap
        h2 Some things about me:
        ul.ul-styled
          li I have five and a half years experience as a product designer, including in-house, agency and freelance
          li I’ve designed and built responsive websites, content management systems and mobile apps 
            span.text-smaller.text-grey (iOS and Android, native and hybrid)
          li I've worked on consumer-facing and B2B products, as well as internal tools
          li I ❤️ design systems, and have created and managed two of them
          li I can 
            code code
            | &nbsp;
            span.text-smaller.text-grey (well… HTML and CSS, and enough JS to hack together a pretty snazzy prototype)
          if page.metadata.id == "the-infatuation"
            li I'm an avid 
              a.link-highlight.link-highlight-instagram(href="https://www.instagram.com/amelia_lewis/", target="_blank") #EEEEEATS
              | -er 🍕
    
    //- What I'm looking for:
    .section
      .content-wrap
        h2 What I'm looking for:
        ul.ul-styled
          li A badass design team, big or small 
            span.text-smaller.text-grey (along with some awesome product and engineering friends)
          li A company where design is valued and has a seat at the table
          li Responsibility and accountability

    //- Rivendell Design System
    .section
      .slide
        .content-wrap
          h4.text-grey Project #1 · WeWork
          h1.text-tight Rivendell Design System
          p A component-based pattern library upon which WeWork builds on-brand, accessible and consistent products that embody our digital brand guidelines.
          br
          p: a.link-highlight(href="#pr-project-1/1") Let's Go →
    
      .slide: img(src="/projects/rivendell-design-system/foundations-primary-color-variables.png")
      .slide: img(src="/projects/rivendell-design-system/foundations-text-title-impact.png")
      .slide: img(src="/projects/rivendell-design-system/components-buttons-short.png")
      .slide: img(src="/projects/rivendell-design-system/audit.png")
      .slide: img(src="/projects/rivendell-design-system/media-caption.png")
      .slide: img(src="/projects/rivendell-design-system/masthead-3.png")
      .slide: img(src="/projects/rivendell-design-system/logo-grid.png")
      .slide: .img-scroller: img(src="/projects/rivendell-design-system/custom-buildout.jpg")
      .slide: .img-scroller: img(src="/projects/rivendell-design-system/press-media.jpg")
      .slide
        .content-wrap
          p.text-center: a.link-highlight(href="http://ww-styleguide.amelia-lewis.com/style-guide", target="_blank") Prototype ↗
          p.text-center: a.link-highlight(href="http://rivendell-docs.netlify.com/", target="_blank") Docs ↗

    //- WGSN Rebrand & Style Guide
    .section
      .slide
        .content-wrap
          h4.text-grey Project #2 · WGSN
          h1 Rebrand &amp; Style Guide
          p: a.link-highlight(href="#pr-project-2/1") Let's Go →
      
      .slide: .content-wrap: h3 Slide 2b
      .slide: .content-wrap: h3 Slide 2c
      .slide: .content-wrap: h3 Slide 2d

    //- WeWork Guest Wi-Fi
    .section
      .slide
        .content-wrap
          h4.text-grey Project #3 · WeWork
          h1 Guest Wi-Fi
          p: a.link-highlight(href="#pr-project-3/1") Let's Go →
      
      .slide: .content-wrap: h3 Slide 3b
      .slide: .content-wrap: h3 Slide 3c
      .slide: .content-wrap: h3 Slide 3d
    
    .section.contact
      .content-wrap.text-center
        h2 Let's stay in touch!
        ul.ul-bare
          li: a.link-highlight(href="mailto:amelialewis01@gmail.com", target='_blank') amelialewis01@gmail.com
          li: a.link-highlight.link-highlight-linkedin(href="https://www.linkedin.com/in/amelia-lewis/", target="_blank") www.linkedin.com/in/amelia-lewis/
          li: a.link-highlight.link-highlight-twitter(href="https://twitter.com/Amelia_Lewis", target="_blank") @Amelia_Lewis
        br
        h2 😃