extends layout

block content
  #resume-view
    .content-wrap
      .left-side
        .left-side-section#resume-name
          h1 Amelia Lewis
          h3 UX/UI Designer

        .left-side-section#resume-about
          h2 About
          p I am an interaction designer with a passion for design and technology. I love to create beautiful interfaces with great user experience as a top priority.
          p I have over two years experience working for a digital agency.

        .left-side-section#resume-contact
          h2 Contact
          ul
            li 
              i.fa.fa-phone
              a(href='callto:3472762888') +1 (347) 276-2888
            li 
              i.fa.fa-paper-plane
              a(href='mailto:amelialewis01@gmail.com') amelialewis01@gmail.com
            li 
              i.fa.fa-desktop
              a(href='http://amelia-lewis.com', target='_blank') amelia-lewis.com
            li 
              i.fa.fa-twitter
              a(href='https://twitter.com/Amelia_Lewis', target='_blank') @Amelia_Lewis
            li 
              i.fa.fa-linkedin
              a(href='https://linkedin.com/in/alewis91', target='_blank') linkedin.com/in/alewis91

        .left-side-section#resume-skills
          h2 Skills
          ul
            li Responsive UI design
            li UX design
            li Wireframing

          ul
            li Illustrator
            li Photoshop
            li InDesign
            li AfterEffects
              span Basic

          ul
            li HTML
            li CSS
            li JS
              span Basic
            li Processing
              span Basic