extends layout.pug
include partials/squiggles

block append vars
  - bodyclass = 'work'

block content
  section.block-bot-xl
    .row
      .col-xs-12
        p hello
        each article in articles 
          p hi